<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

{{ dashboard }}
<section id="timelines" class="clearfix">
  <header>
    <div class="page-header">
      <div class="page-title">
        <h2 class="title">
          Browse app templates
        </h2>
      </div>
      <div class="alert alert-danger" data-ng-show="timeline.errorMsg">
        <button type="button"
                class="close"
                ng-click="timeline.errorMsg = false">
          <span>&times;</span>
        </button>
        <p>{{timeline.errorMsg}}</p>
      </div>
    </div>
  </header>

  <!--{{ messages }} -->

  <div class="page-content">
    <div class="page">
      <div class="subheader">
        <div class="subheader-form" ng-if="messages.length">
          <div class="input-group inline">
            <span class="label">Search task by application: </span>
            <input type="text" ng-model="timelines.search.tag" class="filter-input ng-pristine ng-untouched ng-valid">
          </div>
        </div>
        <p class="hint" ng-if="!messages.length">No recent event</p>
      </div>

      <table>
          <tr data-ng-repeat="message in messages">
              <th><h3>{{ message.applicationName }}</h3></th>
              <td>{{ message.dateAsString }}</td>
              <td>{{ message.event }}</td>
          </tr>
      </table>
    </div>
  </div>
</section>




