<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

{{ dashboard }}
<section id="timelines" class="clearfix">
  <header>
    <div class="page-header">
      <div class="page-title">
        <h2 class="title">
          Browse app templates
        </h2>
      </div>
      <div class="alert alert-danger" data-ng-show="timeline.errorMsg">
        <button type="button"
                class="close"
                ng-click="timeline.errorMsg = false">
          <span>&times;</span>
        </button>
        <p>{{timeline.errorMsg}}</p>
      </div>
    </div>
  </header>

  <!--{{ messages }} -->

  <div class="page-content">
    <div class="page">
      <div class="subheader">
        <div class="subheader-form" ng-if="messages.length">
          <div class="input-group inline">
            <span class="label">Search task by application: </span>
            <input type="text" ng-model="timelines.search.tag" class="filter-input ng-pristine ng-untouched ng-valid">
          </div>
        </div>
        <p class="hint" ng-if="!messages.length">No recent event</p>
      </div>

        <div>
          <h2>
            {{ message.event }}
          </h2>
          <div >
            <p style="position:absolute; bottom:10px;">
              {{ message.dateAsString }}
            </p>
          </div>
        </div>




      <!--<div id='application-{{application.name}}'
           class="application card small {{ application.status | lowercase}}"
           data-ng-repeat="application in dashboard.applications | orderBy:sortorder | filter:{status: dashboard.search} track by $index">
        <div class="content">
          <h3 class="title">
            {{application.name | lowercase}}
            <a data-ng-href="#editApplication/{{ application.name }}/overview"
               class="edit-btn button primary pull-right"
               ripple="">
              <span>Manage</span>
            </a>
          </h3>

          <div class="status">
            <p class="subhead">
              {{ application.status | formatAppStatus}}
              <a href="https://treeptik.zendesk.com"
                 target="_blank"
                 data-ng-show="application.status === 'FAIL'"
                 tooltip=""
                 data-title="Contact support"
                 data-placement="bottom">
                <i class="icon-whhg support"></i>
              </a>
            </p>

            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>

            <div class="wait">
              <div class="icon">
                <i class="icon-whhg hourglass2"></i>
              </div>
            </div>
          </div>

          <div class="features">
            <p class="subhead">Services</p>

            <p>{{ application.servers[0].image.displayName}}</p>

            <p ng-hide="application.modules.length > 0">No modules</p>
            <ul class="modules" ng-show="application.modules.length > 0">
              <li class="module-name"
                  data-ng-repeat="module in application.modules | filter: {image: {imageType: 'module'}}">
                {{module.image.displayName | lowercase }}
              </li>
            </ul>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>




