/* MODULE SCSS => ./scss2/_label.scss
*//*
 * LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
 *     but CloudUnit is licensed too under a standard commercial license.
 *     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
 *     If you are not sure whether the GPL is right for you,
 *     you can always test our software under the GPL and inspect the source code before you contact us
 *     about purchasing a commercial license.
 *
 *     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
 *     or promote products derived from this project without prior written permission from Treeptik.
 *     Products or services derived from this software may not be called "CloudUnit"
 *     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
 *     For any questions, contact us : contact@treeptik.fr
 */

.badge {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
  margin: 0 .125em;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  background-image: none;
  color: rgba(0, 0, 0, .6);
  text-transform: none;
  font-weight: 700;
  border-radius: .2857rem;
  box-sizing: border-box;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  font-size: 2rem;
}

.badge.circular {
  min-width: 2em;
  min-height: 2em;
  padding: .5em !important;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
}

.badge.circular.empty {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  width: .5em;
  height: .5em;
  vertical-align: baseline;
  display: block;
}

.normal > .badge {
  background-color: #5bbd72 !important;
  border-color: #5bbd72 !important;
  color: #fff !important;
}

.low > .badge {
  background-color: #f2c61f !important;
  border-color: #f2c61f !important;
  color: #fff !important;
}

.none > .badge {
  background-color: #d95c5c !important;
  border-color: #d95c5c !important;
  color: #fff !important;
}

label.small-margin-bottom {
  margin-bottom: 10px;
}