/* MODULE SCSS => ./scss2/_ng-table-pagination.scss
*//*
 * LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
 *     but CloudUnit is licensed too under a standard commercial license.
 *     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
 *     If you are not sure whether the GPL is right for you,
 *     you can always test our software under the GPL and inspect the source code before you contact us
 *     about purchasing a commercial license.
 *
 *     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
 *     or promote products derived from this project without prior written permission from Treeptik.
 *     Products or services derived from this software may not be called "CloudUnit"
 *     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
 *     For any questions, contact us : contact@treeptik.fr
 */

.ng-table-pager {
  @include clearfix();
}

.ng-table-counts.btn-group {
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
  padding-left: 0px;
  border-radius: 4px;
  .btn {
    color: #02BAF2;
    border: 1px solid #D6E1E5;
    padding: 8px 15px;
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857;
    text-decoration: none;
    background-color: #FFF;
    &.active {
      background-color: #E1EEF3;
      border-color: #D6E1E5;
      color: #364347;
      z-index: 0;
      @include box-shadow(none);
    }
  }
  .btn:first-child {
    margin-left: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.pagination.ng-table-pagination {
  margin: 0;
  > li > a,
  > li > span {
    color: #02BAF2;
    border: 1px solid #D6E1E5;
    padding: 8px 15px;
  }
  > li.active > a,
  > li.active > span {
    background-color: #E1EEF3;
    border-color: #D6E1E5;
    color: #364347;
    z-index: 0;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > tbody > tr.inactive-line {
  background-color: rgba(0, 0, 0, 0.05);
}

.table > tbody > tr.active-line {
  background-color: $color-primary;
}
