/* MODULE SCSS => ./scss2/_table.scss
*//*
 * LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
 *     but CloudUnit is licensed too under a standard commercial license.
 *     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
 *     If you are not sure whether the GPL is right for you,
 *     you can always test our software under the GPL and inspect the source code before you contact us
 *     about purchasing a commercial license.
 *
 *     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
 *     or promote products derived from this project without prior written permission from Treeptik.
 *     Products or services derived from this software may not be called "CloudUnit"
 *     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
 *     For any questions, contact us : contact@treeptik.fr
 */

.user-list > .table, #manage-scripting .table {
  thead > tr > th {
    vertical-align: top;
  }
  thead > tr > th.has-input {
    vertical-align: middle;
  }
}

#manage-scripting .table {
  text-align: center;
  thead > tr > th {
    text-align: center;
    cursor: pointer;
  }
  thead > tr > th:last-child {
    cursor: default;
  }
}

#settings-environment .table, #settings-volume .table {
  thead > tr > th { 
    cursor: pointer;
  }
  thead > tr > th:last-child { 
    cursor: default;
  }
}

table.terminal {
  @include make-lg-column(12);
  thead {
    tr {
      th {
        border: 0;
        text-align: left;
      }
    }
  }
  tbody {
    background-color: #212121;
    color: #f5f5f5;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    td {
      border-top: none;
      padding : 2px;
    }
  }
}

.portTable {
  td {
    padding: 5px;

    .icon-whhg {
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
  }
}