<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="tab-pane vertical-spacing"
     data-ng-class="{pending: monitoring.isLoading}">

    <div class="card">
        <div class="content clearfix">
            <h3 class="title large">Metrics Containers Monitoring</h3>

            <p class="hint">Choose a component</p>

            <div class="dropdown dropdown--small" dropdown>
                <a class="dropdown-toggle"
                   dropdown-toggle=""
                   selectbox="">
                    {{ monitoring.myContainer.name }}
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li data-ng-repeat="container in monitoring.containers">
                        <a ng-href=""
                           data-ng-click="monitoring.myContainer = container; monitoring.getContainers(monitoring.myContainer)">
                            {{container.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

  <div id="monitoring" class="monitoring-kibana" style="margin: 0; height: 170vh;">
    <iframe ng-src="{{monitoring.iframeUrl}}" frameborder="0" scrolling="no" style="display: block; background: #000; border: none; height: 160vh; width: 100%;"></iframe>
  </div>
</div>
