<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<section data-ng-cloak="" id="account">
  <header class="header clearfix">
    <div class="page-header">
      <div class="page-title">
        <a class="icon-button primary"
           data-ng-href="#dashboard"
           ripple=""
           tooltip=""
           data-title="Retour"
           data-placement="bottom">
          <i class="icon-whhg back"></i>
        </a>

        <h2 class="title">
          My account
        </h2>
      </div>
      <div class="page-menu">
        <ul class="tabs">
          <li class="active">
            <a href="#user-info" showtab="" ripple=""><span>Edit</span></a>
          </li>
          <li>
            <a href="#user-change-password" showtab="" ripple=""><span>Change password</span></a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="page">
    <div class="tab-content">
      <div id="user-info" class="tab-pane active card medium vertical-spacing">
        <div class="content clearfix">
          <h3 class="title">Edit my account</h3>

          <div class="gravatar">
            <p class="change-gravatar">
              <img gravatar-src-once="account.user.email" gravatar-size="80">
              Create or change your
              <a href="https://gravatar.com/"
                 target="_blank">gravatar
              </a>
            </p>
          </div>
          <form id="change-email-form">
            <div class="input-group stack">
              <label>Lastname</label>
              <input type="text"
                     disabled=""
                     ng-model="account.user.lastName">
            </div>
            <div class="input-group stack">
              <label>Firstname</label>
              <input type="text"
                     disabled=""
                     ng-model="account.user.firstName">
            </div>

            <div class="input-group stack">
              <label>Organization</label>
              <input type="text" name="email"
                     disabled=""
                     ng-model="account.user.organization">
            </div>

            <div class="input-group stack">
              <label>Change my email</label>
              <input type="text"
                     name="email"
                     ng-model="account.user.email"
                     required="">
            </div>

            <button class="button raised primary pull-right" data-ng-click="account.changeEmail(user)">Save</button>
          </form>
        </div>

      </div>
      <div id="user-change-password" class=" tab-pane card medium vertical-spacing">
        <div class="content clearfix">

          <h3 class="title large">Change my password</h3>

          <form id="change-password-form">

            <div class="input-group stack">
              <label>Old password</label>
              <input type="password"
                     name="oldPassword"
                     ng-model="account.user.oldpassword"
                     required="">
            </div>
            <div class="input-group stack">
              <label>New password</label>

              <input type="password"
                     name="newPassword"
                     ng-model="account.user.newpassword"
                     required="">

            </div>
            <div class="input-group stack">
              <label>Confirm new password</label>

              <input type="password"
                     name="confirmPassword"
                     data-bind="account.user.confirmpassword"
                     required="">

            </div>
            <button class="button raised primary pull-right" data-ng-click="account.changePassword(user)">Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>





