<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<section data-ng-cloak="" id="account">
  <header class="header clearfix">
    <div class="page-header">
      <div class="page-title">
        <a class="icon-button primary"
           ui-sref="account.admin"
           ripple=""
           tooltip=""
           data-title="Retour"
           data-placement="bottom">
          <i class="icon-whhg pageback"></i>
        </a>

        <h2 class="title">
          {{accountAdminLogs.user.login}}'s activity
        </h2>
      </div>
    </div>

  </header>

  <div class="page full">
    <div id="admin-user-logs" class="card large vertical-spacing">
      <div class="content clearfix">
        <table class="table">
          <thead>
          <tr>
            <th>Event Type</th>
            <th>Application Name</th>
            <th>Event date</th>
            <th>Event</th>
          </tr>
          </thead>
          <tbody>
          <tr dir-paginate="event in accountAdminLogs.events | itemsPerPage: accountAdminLogs.pageSize track by event.id"
              data-current-page="accountAdminLogs.currentPage">
            <td>{{event.type}}</td>
            <td>{{event.applicationName}}</td>
            <td>{{event.date | formatdatecalendar}}</td>
            <td>{{event.event}}</td>
          </tr>
          </tbody>
        </table>
        <dir-pagination-controls></dir-pagination-controls>
      </div>
    </div>
  </div>
</section>
