<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="card large" freeze="" data-delay="4000">

  <div class="content clearfix">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <form class="form-wrapper" id="config-JVM">

      <!-- --------------------------------------- -->
      <!--            SET JVM MEMORY               -->
      <!-- --------------------------------------- -->

      <h3 class="title large">JVM configuration</h3>

      <div class="input-group stack">
        <div>
          <label>Set JVM memory</label>
        </div>
        <div class="check radio inline" ng-repeat="memorySize in configjvm.jvmMemorySizes">
          <input id="memory-{{configjvm.jvmMemorySizes[$index]}}"
                 type="radio"
                 ng-model="configjvm.selectedJvmMemory"
                 value="{{configjvm.jvmMemorySizes[$index]}}"
                 name="selectedJvmMemory"
                 data-ng-disabled="configjvm.application.status === 'PENDING'"/>
          <label for="memory-{{configjvm.jvmMemorySizes[$index]}}">{{configjvm.jvmMemorySizes[$index]}} Mo</label>
        </div>
      </div>

      <!-- --------------------------------------- -->
      <!--            SET JVM OPTIONS              -->
      <!-- --------------------------------------- -->

      <div class="input-group stack">
        <label>Set JVM options</label>
        <textarea id="jvm-param-options"
                  data-ng-model="configjvm.jvmOptions"
                  data-ng-disabled="configjvm.application.status === 'PENDING'"
                  placeholder="-Dkey=value">
        </textarea>
      </div>

      <!-- --------------------------------------- -->
      <!--            SET JVM RELEASE              -->
      <!-- --------------------------------------- -->
      <!--
      <div class="input-group stack">
        <div>
          <label>Choose JVM release</label>
        </div>
        <div class="check radio inline" ng-repeat="jvmReleases in configjvm.jvmReleases">
          <input id="release-{{configjvm.jvmReleases[$index]}}"
                 type="radio"
                 ng-model="configjvm.selectedJvmRelease"
                 value="{{configjvm.jvmReleases[$index]}}"
                 name="selectedJvmRelease"
                 data-ng-disabled="configjvm.application.status === 'PENDING'"/>
          <label for="release-{{configjvm.jvmReleases[$index]}}">{{configjvm.jvmReleases[$index]}}</label>
        </div>
      -->
        <!--<div>
          <label>Debug JMX</label>
          <switch id="enabled" name="enabled" ng-model="enabled" ng-change="overview.changePort(module.id, module.name)"></switch>
        </div>-->

        <div class="clearfix">
          <button class="config-jvm-btn button-effect primary pull-right"
                  data-ng-click="configjvm.saveConfigurationJVM(configjvm.application.name, configjvm.selectedJvmMemory, configjvm.jvmOptions, configjvm.selectedJvmRelease)">
            <span>Save</span>
          </button>
        </div>

        
      </div>


    </form>
  </div>
</div>
