<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="tab-pane vertical-spacing">
  <div class="card col-lg-12">
    <div class="content clearfix">
      <h3 class="title large">File Explorer</h3>

      <p class="hint">Choose a component to explore</p>

      <div class="dropdown dropdown--small" dropdown>
        <a class="dropdown-toggle"
           dropdown-toggle=""
           selectbox="">
          {{ explorer.myContainer.name }}
        </a>
        <ul class="dropdown-menu"
            role="menu"
            aria-labelledby="dLabel">
          <li data-ng-repeat="container in explorer.containers">
            <a ng-href=""
               data-ng-click="explorer.myContainer = container; explorer.refresh($index)">
              {{container.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="card col-lg-3 ">
      <div class="content">
        <div class="subheader">
          <h3 class="subhead">{{explorer.myContainer.name}}</h3>
        </div>
        <ul class="single-line">
          <li data-ng-repeat="item in explorer.rootFolder track by $index">
            <a ng-href=""
               ng-class="{'safe' : item.safe, 'unsafe': !item.safe, 'folder': item.dir, 'file': !item.dir, 'active': item.name === explorer.currentPath[0]}"
               data-ng-click="explorer.folderClick(item, true)">{{item.name}} <span ng-show="item.safe">&midast;</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card col-lg-9" ng-class="{pending: explorer.isUploading || explorer.isCreatingDirectory}">
      <div class="content">
        <div class="breadcrumb toolbar clearfix">
          <div class="pull-left">
            <ol class="list-inline">
              <li ng-repeat="folder in explorer.currentPath">
                <ng-switch on="$last">
                  <span ng-switch-when="true">{{explorer.currentPath[$index]}} </span>
                  <a ng-href="" ng-switch-when="false"
                     data-ng-click="explorer.activeFolder = item.name; explorer.upDir($index)">{{explorer.currentPath[$index]}}</a>
              </li>
            </ol>
            <p class="hint">* saved in template</p>
          </div>
          <div class="explorer__action pull-right">
            <div class="upload button raised primary -align-center" ripple="">
              <span>Upload file...</span>
              <input type="file"
                     id="upload-file"
                     nv-file-select=""
                     uploader="uploader"
                     multiple="true"/>
            </div>
          </div>
        </div>
        <div class="form-group" style="overflow: hidden;">
          <label>Add directory...</label>
          <div class="input-group stack col-lg-9 align-margin">
            <input type="text"
                class="input-effect col-xs-12" 
                data-ng-model="explorer.newDirectoryName"
                required="">
            <span class="bar"></span>
            <label class="label-effect">Name</label>

          </div>
          <button class="button-effect primary pull-right"
                data-ng-disabled="!explorer.newDirectoryName"
                data-ng-click="explorer.addNewDirectory(explorer.myContainer.id, explorer.currentPath, explorer.newDirectoryName)">
            <span>Create</span>
          </button>
        <br>
        </div>
        <div class="upload-progress" data-ng-show="uploader.isUploading">
          <div class="progress" ng-class="{'success': explorer.uploadSuccess}">
            <div class="progress-bar"
                 role="progressbar"
                 ng-style="{ 'width': uploader.progress + '%' }">
            </div>
          </div>
        </div>  
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <div class="explorer__sub" nv-file-over="" nv-file-drop="" uploader="uploader"
             ng-class="{'nv-file-drop': explorer.dropped}">
          <ul class="single-line row">

            <li data-ng-repeat="item in explorer.subFolder" id="{{$index}}">
              <ng-switch on="item.dir">
                <a
                  ng-switch-when="true"
                  ng-href=""
                  class="folder"
                  ng-class="item.safe ? 'safe' : 'unsafe'"
                  data-ng-click="explorer.folderClick(item)"
                  >{{item.name}} <span ng-show="item.safe">&midast;</span>
                </a>
                <a
                  target="_blank"
                  ng-switch-when="false"
                  href="{{ '/file/container/' + explorer.myContainer.id + '/application/' + explorer.app.name + '?path=' + explorer.currentPath.join('/') + '&fileName=' + item.name }}"
                  class="file"
                  ng-class="item.safe ? 'safe' : 'unsafe'"
                  >{{item.name}} <span ng-show="item.safe">&midast;</span>
                </a>
                <button class="action icon-button danger"
                        ng-if="item.removable"
                        data-toggle="modal"
                        data-target="#delete-{{$index}}"
                        data-keyboard="true"><i class="icon-whhg trash"></i></button>
                <button class="action icon-button"
                        ng-if="item.editable"
                        ng-click="explorer.getFile(explorer.myContainer.id, explorer.currentPath, item)"
                        data-toggle="modal"
                        data-target="#edit-{{$index}}"
                        data-keyboard="true"><i class="icon-whhg edit"></i></button>
               <button class="action icon-button"
                        ng-if="item.zipable"
                        data-toggle="modal"
                        data-target="#unzip-{{$index}}"
                        data-keyboard="true"><i class="icon-whhg import"></i></button>

                <div class="modal"
                    id="delete-{{$index}}"
                    modaldismiss="">
                  <div class="modal-inner">
                    <div class="content clearfix">
                      <h3 class="title">Removal confirmation required</h3>

                      <p class="alert">
                        Caution, <strong> this is a permanent action</strong>.
                      </p>

                      <div class="actions pull-right">
                        <button type="button" class="button secondary" data-dismiss="modal">Cancel
                        </button>
                        <button type="button" class="delete-btn button primary"
                                ng-click="explorer.deleteFile(explorer.myContainer.id, explorer.currentPath, item)"
                                data-dismiss="modal">
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal"
                     id="unzip-{{$index}}"
                     modaldismiss="">
                  <div class="modal-inner">
                    <div class="content clearfix">
                      <h3 class="title">Unzip confirmation required</h3>

                      <p class="alert">
                        Caution, <strong> this is a permanent action</strong>.
                      </p>

                      <div class="actions pull-right">
                        <button type="button" class="button secondary" data-dismiss="modal">Cancel
                        </button>
                        <button type="button" class="button primary"
                                ng-click="explorer.unzipFile(explorer.myContainer.id, explorer.currentPath, item)"
                                data-dismiss="modal">
                          Unzip
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal large"
                     id="edit-{{$index}}"
                     modaldismiss="">
                  <div class="modal-inner">
                    <div class="content modal-full-input">
                      <h3 class="title">Edit File</h3>
                      <!--<textarea  data-ng-model="explorer.fileContent" class="textarea-custom textarea-full" ></textarea>-->
                      <div ng-model="explorer.fileContent" ui-codemirror="{ onLoad : explorer.codemirrorLoaded }" ></div>
                      
                      <div class="action">
                        <button type="button" class="button primary raised" data-dismiss="modal">Cancel
                        </button>
                        <button type="button" class="button primary raised"
                                ng-click="explorer.editFile(explorer.myContainer.id, explorer.currentPath, item, explorer.fileContent)"
                                data-dismiss="modal">
                          Edit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-switch>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
