<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="card col-lg-2">
  <div class="content clearfix">
    <h3 class="title large">Volume</h3>
    
    <p class="hint">Choose a container</p>

    <div class="dropdown dropdown--small" dropdown>
      <a class="dropdown-toggle"
          dropdown-toggle=""
          selectbox="">
        {{ volume.myContainer.name }}
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li data-ng-repeat="container in volume.containers">
          <a ng-href=""
              data-ng-click="volume.myContainer = container; volume.getContainers(volume.myContainer)">
            {{container.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card col-lg-10">
  <div class="content clearfix">

    <h3 class="title large">Add Volume</h3>

    <form id="add-volume"
            name="addvolumeVariable"
            class="clearfix" novalidate=""
            data-ng-submit="volume.addVolume(volume.volumeName, volume.volumePath)">
        <div class="input-group-inline col-lg-5">
          <label for="name">Name</label>
          <input id="name"
                 name="name"
                 type="text"
                 data-ng-model="volume.volumeName">
        </div>
        <div class="input-group-inline col-lg-5">
          <label for="path">Path</label>
          <input id="path"
                 name="path"
                 type="text"
                 data-ng-model="volume.volumePath"
                 ng-required="">
          </div>
        <div class="actions">
          <div class="secondary-actions pull-right">
            <button type="submit"
                    class="addVolume-btn button-effect primary pull-right"
                    data-ng-disabled="!volume.volumeName || !volume.volumePath">
              <span>Add volume</span>
            </button>
          </div>
        </div>
      </form>
    
    <div class="alert alert-danger" data-ng-show="volume.addErrorMsg">
      <button type="button"
              class="close"
              ng-click="volume.addErrorMsg = ''">
        <span>&times;</span>
      </button>
      <p>{{volume.addErrorMsg}}</p>
    </div>
    <div class="alert alert-info" data-ng-show="volume.addNoticeMsg">
      <button type="button"
              class="close"
              ng-click="volume.addNoticeMsg = ''">
        <span>&times;</span>
      </button>
      <p>{{volume.addNoticeMsg}}</p>
    </div>
  </div>
</div>

<div class="card col-lg-12">
  <div class="content clearfix" id="settings-volume">

    <h3 class="title large">Manage Volume</h3>

    <div class="no-data" ng-if="!volume.volumes.length">
      <p>No volume has been created yet !</p>
    </div>

    <table class="table" ng-if="volume.volumes.length">
        <thead>
        <tr>
          <th ng-click="volume.order('name')"><i class="icon-whhg"  ng-show="volume.predicate == 'name'" ng-class="{ 'arrow-down': !volume.reverse, 'arrow-up': volume.reverse }"></i> name</th>
          <th ng-click="volume.order('path')"><i class="icon-whhg"  ng-show="volume.predicate == 'path'" ng-class="{ 'arrow-down': !volume.reverse, 'arrow-up': volume.reverse }"></i>  path</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          <tr 
            dir-paginate="vol in volume.volumes | orderBy:volume.predicate:volume.reverse | itemsPerPage: volume.pageSize track by vol.id"
            data-current-page="volume.currentPage">
            <td>
              <span editable-text="vol.name" e-name="name" e-form="rowform"  e-required>
                <span class="clipboard" id="name-{{vol.id}}"
                  data-title="Copy to clipboard"
                  tooltip=""
                  ngclipboard data-clipboard-target="#name-{{vol.id}}">{{ vol.name }}</span>
              </span>
            </td>
            <td>
              <span editable-text="vol.path" e-name="path" e-form="rowform" e-required>
                <span class="clipboard" id="path-{{vol.id}}"
                  data-title="Copy to clipboard"
                  tooltip=""
                  ngclipboard data-clipboard-target="#path-{{vol.id}}">{{ vol.path }}</span>
              </span>
            </td>
            <td>
              <form editable-form name="rowform" onbeforesave="volume.editVolume(vol.id, $data.name, $data.path)" ng-show="rowform.$visible">
                <div class="action">
                  <button type="submit" class="button primary raised"
                  ng-disabled="rowform.$waiting">
                  Edit
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="button secondary">
                    Cancel
                  </button>
                </div>
              </form>

              <div class="buttons" ng-show="!rowform.$visible">
                <button class="icon-button danger"
                  ripple=""
                  tooltip=""
                  data-title="Delete"
                  data-placement="bottom"
                  data-toggle="modal"
                  data-target="#delete-{{vol.id}}">
                <i class="icon-whhg trash"></i>
                </button>
                <div class="modal"
                    id="delete-{{vol.id}}"
                    modaldismiss="">
                  <div class="modal-inner">
                    <div class="content clearfix">
                      <h3 class="title">Removal confirmation required for volume {{volume.name}}</h3>

                      <p class="alert">Caution, <strong> this is a permanent action</strong>.</p>

                      <div class="actions pull-right">
                        <button type="button" class="button secondary" data-dismiss="modal">Cancel
                        </button>
                        <button type="button"
                                class="delete-btn button primary"
                                data-dismiss="{{accountAdminList.error ? '' : 'modal' }}"
                                data-ng-click="volume.deleteVolume(vol);">
                          Delete variable
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="icon-button"
                  ripple=""
                  tooltip=""
                  data-title="Edit"
                  data-placement="bottom"
                  ng-click="rowform.$show()">
                <i class="icon-whhg edit"></i>
                </button>
              </div>  
            </td>
          </tr>
        </tbody>
      </table>
      <dir-pagination-controls ng-if="volume.volumes.length"></dir-pagination-controls>

       <div class="alert alert-danger" data-ng-show="volume.manageErrorMsg">
        <button type="button"
                class="close"
                ng-click="volume.manageErrorMsg = ''">
          <span>&times;</span>
        </button>
        <p>{{volume.manageErrorMsg}}</p>
      </div>
      <div class="alert alert-info" data-ng-show="volume.manageNoticeMsg">
        <button type="button"
                class="close"
                ng-click="volume.manageNoticeMsg = ''">
          <span>&times;</span>
        </button>
        <p>{{volume.manageNoticeMsg}}</p>
      </div>
  </div>
</div>
