<!--
~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
~     but CloudUnit is licensed too under a standard commercial license.
~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
~     If you are not sure whether the GPL is right for you,
~     you can always test our software under the GPL and inspect the source code before you contact us
~     about purchasing a commercial license.
~
~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
~     or promote products derived from this project without prior written permission from Treeptik.
~     Products or services derived from this software may not be called "CloudUnit"
~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
~     For any questions, contact us : contact@treeptik.fr
-->

<div class="commandRun-card card col-lg-12">
    <div class="content clearfix">
        <h3 class="title large">Container</h3>

        <p class="hint">Choose a container</p>

        <div class="dropdown dropdown--small" dropdown>
            <a class="dropdown-toggle"
                dropdown-toggle=""
                selectbox="">
                {{ commandRun.myContainer.name }}
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li data-ng-repeat="container in commandRun.containers">
                    <a ng-href="" data-ng-click="commandRun.myContainer = container; commandRun.getContainers(commandRun.myContainer); commandRun.getCommandList(container.name);">
                        {{ container.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="card col-lg-12" ng-repeat="command in commandRun.commandList" ng-init="commandRun.forms[$index] = {};commandRun.currentIndex = $index;" ng-class="{ pending : actionPending}">
    <div class="content clearfix">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
        <h3 class="title large" ng-bind="command.label"></h3>

        <div class="group col-xs-12" ng-repeat="argument in command.arguments"> 
            <input type="text"
                class="input-effect col-xs-12" 
                id="username"
                data-ng-model="commandRun.forms[commandRun.currentIndex][$index]"
                required="">
            <span class="bar"></span>
            <label class="label-effect">{{argument}}</label>        
        </div>

        <button ng-disabled="actionPending" class="button primary raised pull-right" ng-click="commandRun.execCommand(commandRun.forms[$index], command.name)">Execute</button>
</div>
