[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
/pull-list
mysqldata
/nginx/log/
/tomcat/ROOT.war
/tomcat/apache-tomcat-7.0.55.tar.gz
/nginx/cloudunit.io/cloudunit.io-bundle.crt
/nginx/cloudunit.io/cloudunit.io.pem
docker-compose.yml
