<nav id="left-nav">
  <a id="logoCL" href="https://www.cloudunit.io"></a>
  <div id="social-links">
    <ul>
      <li>
        <a href="https://twitter.com/treeptik" target="_blank" title="Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/+TreeptikFr" target="_blank" title="Google+">
          <i class="fa fa-google"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/Treeptik/CloudUnit" target="_blank" title="Github">
          <i class="fa fa-github-alt"></i>
        </a>
      </li>
      <li>
        <a href="https://fr-fr.facebook.com/treeptik" class="facebook" target="blank">
          <i class="fa fa-facebook-f"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
