<footer id="mainFooter" class="col-md-12" >
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <!-- <p>Powered by</p> -->
    <div class="row partner">
      <div class="docker col-md-6">
        <a href="https://www.docker.com/">
          <img class="partner__logo" src="{{ site.baseurl }}/images/index.png" alt="Docker consulting partner"/>
        </a>
      </div>
      <div class="treeptik col-md-6">
        <a href="http://treeptik.fr">
          <img class="treeptik__logo" src="{{ site.baseurl }}/images/logo-treeptik.png" alt="Treeptik brand logo"/>
        </a>
      </div>
    </div>
  </div>
  <div class="foot_bottom col-md-12">
    <!-- &copy;Treeptik 2017. Tous droits réservés. -->
    &copy; 2013-2017 - Power by <a class="power" href="http://treeptik.fr">Treeptik</a> - All right reserved.
  </div>
</footer>
