<div id="fork">
  <a href="https://github.com/Treeptik/CloudUnit" class="btn__fork">
    <img src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
     alt="Fork me on GitHub">
  </a>
</div>
<header id="header">
  <div id="mainOne">
    <div class="box__heading">
      <h1 class="heading">
        Open-souce Paas for Java
      </h1>
    </div>
    <h4 class="help-block">
      Deploy Java Web Apps in no time
    </h4>
    <h5 class="sub_heading">
      CloudUnit provides an automated and standardized platform for
      <strong>
        devs
      </strong>
      to build and run Java applications and
      <strong>
        ops
      </strong>
      to provision and orchestrate environments.
    </h5>
    <a class="cta cta--primary js-more" href="#Going_further">Give it a try</a>
    <a class="cta cta--secondary js-more" href="#Key_concept">Learn more</a>
  </div>
</header>
