.alert {
  margin: 24px 0;
  background-color: #fde0dc;
  border-radius: 0;
  position: relative;
  background-color: rgba(248, 69, 69, 1);
  color: #fff;
  border: 0;
  .close {
    font-size: 24px;
  }

  &.alert-info {
    background-color: #84C6F5;
  }
}
