.card {
  padding-top: 8px;
  padding-bottom: 8px;
  .content {
    border-radius: 2px;
    padding: 16px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    footer {
      min-height: 14px;
    }
    .meta {
      color: $color-muted;
      font-size: 12px;
    }
    .title {
      font-size: 24px;
      font_weight: normal;
      .service-icon {
        display: inline-block;
        padding-top: 2px;
        float: left;
        margin-right: 4px;
      }
    }
    .title.large {
      padding-bottom: 16px;
      & > small {
        font-size: 12px;
      }
    }
    .status {
      @include clearfix();
    }
    .features {
      padding: 16px 11px;
      color: $color-muted;
      margin-bottom: 32px;
    }
    .modules li {
      display: inline-block;
      margin-right: 4px;
    }
    .spinner {
      width: 100%;
      left: 0;
      text-align: center;
      @include v-center();
    }
    .settings {
      position: absolute;
      top: 16px;
      right: 16px;
      color: $color-secondary;
    }
    .action {
      .primary-action, .secondary-action {
        width: 100%;
        display: inline-block;
      }
      .primary-action {
        text-align: right;
      }
      .secondary-action {
        text-align: right;
      }
    }
  }

  &.card--explorer .content {
    min-height: 444px;
  }
}



.card.blank {
  .content {
    border: 0;
    color: #bdbdbd !important;
    padding: 16px;
    background-color: transparent;
    box-shadow: none;
  }
}

.application.card {
  .content {
    min-height: 256px;
  }
}

.card.small {
  @include make-lg-column(4, 1rem);
}

.card.medium {
  @include make-lg-column(6, 1rem);
  min-height: 212px;
}

.card.large {
  @include make-lg-column(12, 1rem);
}

.start.pending .content,
.stop.pending .content,
.pending.stop .content,
.pending.start .content,
.pending .content,
.app-creation .content,
.fail .content,
[data-status = 'pending'] .content {
  border-top: 0;
  color: $color-muted !important;
  & .subhead, & .headline {
    color: $color-muted;
  }
  & .button, & .icon-button {
    background-color: $color-bg-muted;
    color: $color-disabled;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
    &.power {
      color: $color-muted;
    }
    & .spinner {
      color: $color-muted;
    }
  }

  input[type='text'], textarea {
    border-bottom: 1px dashed #bdbdbd;
  }
  input.blank {
    border: 0;
  }
  .check.radio input[type="radio"] + label:before {
    /*disabled*/
    content: '\f111';
  }
}

.application.start .status {
  color: #8bc34a;
}

.service.fail .status {
  color: $color-error;
}

.application.fail .status {
  .subhead, .subhead > a, .headline {
    color: $color-error;
  }
}

.application.stop .status {
  .subhead, .headline {
    color: $brand-warning;
  }
}
