/* MODULE SCSS => ./scss2/_charts.scss
*/.ct-label {
  font-size: 1.2rem;
}

.ct-label.ct-horizontal.ct-end{
  transform: rotate(46deg);
  padding-left: 12px;
}

.ct-legend {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  margin-top: 16px;

  li {
    position: relative;
    padding-left: 16px;
    margin-bottom: 0;
    margin-right: 8px;
  }

  li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
    bottom: 5px;
  }

  li.inactive:before {
    background: transparent;
  }

  &.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
  }

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1);
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}