/*
 * LICENCE : CloudUnit is available under the Gnu Public License GPL V3 : https://www.gnu.org/licenses/gpl.txt
 *     but CloudUnit is licensed too under a standard commercial license.
 *     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
 *     If you are not sure whether the GPL is right for you,
 *     you can always test our software under the GPL and inspect the source code before you contact us
 *     about purchasing a commercial license.
 *
 *     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
 *     or promote products derived from this project without prior written permission from Treeptik.
 *     Products or services derived from this software may not be called "CloudUnit"
 *     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
 *     For any questions, contact us : contact@treeptik.fr
 */

.modal {
  width: 600px;
  margin: 30px auto;
  float: none;
  .modal-inner {
    border-radius: 2px;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
    width: 100%;
    min-height: 0;
    .content {
      padding: 24px 24px 8px 24px;;
      border: none !important;
      form {
        margin-top: 16px;
      }
    }
    .action {
      text-align: right;
      max-height: 36px;
      width: 100%;
    }
  }
}
