/* MODULE SCSS => ./scss2/_lists.scss
*//*
 * LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
 *     but CloudUnit is licensed too under a standard commercial license.
 *     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
 *     If you are not sure whether the GPL is right for you,
 *     you can always test our software under the GPL and inspect the source code before you contact us
 *     about purchasing a commercial license.
 *
 *     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
 *     or promote products derived from this project without prior written permission from Treeptik.
 *     Products or services derived from this software may not be called "CloudUnit"
 *     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
 *     For any questions, contact us : contact@treeptik.fr
 */

.single-line {
  font-size: 16px;
  & li {
    padding-left: 72px;
    transition: background 0.3s;
    cursor: pointer;
    overflow: auto;
    & .action {
      opacity: 0.84;
      margin-right: 32px;
      transition: opacity 0.6s ease 0s;
      float: right;
      padding: 10px 0;
    }
  }

  & a {
    display: block;
    float: left;
    position: relative;
    height: 56px;
    padding: 16px 0 20px 0;
    color: $color-muted;

    &:before {
      font-family: "fontawesome";
      font-size: 24px;
      content: "";
      position: absolute;
      left: -60px;
      color: $gray-dark;
      display: inline-block;
      padding: 8px 0;
      width: 40px;
      top: 4px;
      height: 40px;
      text-align: center;
      transition: color 0.3s ease-in;
    }

    &.folder:before {
      content: '07b';
      color: #33CCFF;
    }

    &:active.folder:before, &.active.folder:before {
      content: '07c';
    }

    &.file:before {
      content: "15c";
      border-radius: 50%;
      color: #607d8b;
      transition: transform 0.6s, background-color 0.6s;
      transition-timing-function: ease-out;
    }

    &.file:hover:before {
      font-size: 18px;
      background-color: $color-bg;
      border-radius: 50%;
      transform: rotateY(180deg);
      content: '019';

    }

    &.safe:before {

    }

    &.unsafe:before {

    }

  }
}

.explorer__sub {
  transition: background 0.3s;

  &.nv-file-over {
    background-color: $alert-warning-bg;
    border-top: 1px dashed $alert-warning-border;
    border-bottom: 1px dashed $alert-warning-border;
  }

  &.nv-file-drop {
    background-color: $alert-success-bg;
    border-top: 1px dashed $alert-success-border;
    border-bottom: 1px dashed $alert-success-border;
  }
}

.tag-list .tag {
  display: inline-block;
  background-color: #999;
  padding: 2px 8px;
  border-radius: 3px;
  color: #fff;
  margin-right: 4px;
  margin-bottom: 4px;
  box-shadow: 0 1px 0 #777777;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 0;
  & ol > li:before {
    padding: 0 4px;
    color: #ccc;
    content: "/\00a0";
    &:first-child {
      content: "";
    }
  }
  & a {
    cursor: pointer;
  }
}