/*
 * LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
 *     but CloudUnit is licensed too under a standard commercial license.
 *     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
 *     If you are not sure whether the GPL is right for you,
 *     you can always test our software under the GPL and inspect the source code before you contact us
 *     about purchasing a commercial license.
 *
 *     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
 *     or promote products derived from this project without prior written permission from Treeptik.
 *     Products or services derived from this software may not be called "CloudUnit"
 *     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
 *     For any questions, contact us : contact@treeptik.fr
 */

#login-container {
  background-color: rgba(0, 0, 0, 0.03);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .login {
    font-family: "Source Sans Pro", sans-serif;
    blockquote {
    font-size: 80px;
    font-weight: lighter;
    }
    .tile-login {
      width: 33.333333%;
      left: 33.3333333%;
      @include v-center;
      .tile-content {
        background: none repeat scroll 0% 0% #364347;
        border-radius: 2px;
        
        -moz-box-shadow: 10px 10px 0px 0px #9b9b9b;
        -webkit-box-shadow: 10px 10px 0px 0px #9b9b9b;
        -o-box-shadow: 10px 10px 0px 0px #9b9b9b;
        box-shadow: 10px 10px 0px 0px #9b9b9b;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=0);

        padding: 16px 16px 72px 16px;
        &:hover {
          @include transition(none);
        }
        & input {
          border: 1px solid #757575 !important;
          background-color: #364347;
          /*background-color : lighten(white, 30%) !important;*/
          padding: 3px !important;
          height: 40px;
          width: 100%;
          color: $color-primary;
        }
        & input:focus {
          border: 1px solid $color-primary !important;
        }
      }
      .tile-header {
        text-align: center;
        height: 72px;
        .brand {
          color: #e1eef3;
          font-weight: 600;
          font-size: 24px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }
        .logo {
          height: 36px;
          margin-right: 0;
          margin-bottom: 0;
        }

        .badge {
          margin-left: 4px;
          margin-bottom: 2px;
          font-size: 2.5rem;
        }
      }
    /* .input-group {
        label, input {
          color: #b2c6cd;
          border: none;
          font-size: 16px;
          outline: none;
        }
        input {
          border: none;
          border-color: transparent;
          border-bottom: 1px solid #b2c6cd;
        }
        input:focus, input:hover {
          color: #e1eef3;
          border-width: 0; //ie fix
          border-bottom: 1px solid #e1eef3;
        }
        a {
          color: #02baf2;
        }
      }*/
  /*    .button {
        margin-top: 16px;
      }*/
    }
  }
}
