.login {
  font-family: "Source Sans Pro", sans-serif;
  blockquote {
    font-size: 80px;
    font-weight: lighter;
  }
  .tile-login {
    width: 33.333333%;
    left: 33.3333333%;
    @include v-center;
    .tile-content {
      background: none repeat scroll 0% 0% #364347;
      border-radius: 6px;
      padding: 16px 16px 72px 16px;
      &:hover {
        @include transition(none);
      }
    }
    .tile-header {
      text-align: center;
      height: 72px;
      .brand {
        color: #e1eef3;
        font-weight: 600;
        font-size: 24px;
      }
      .logo {
        height: 36px;
        margin-right: -8px;
        margin-bottom: 7px;
      }
    }
    .input-group {
      label, input {
        color: #b2c6cd;
        border: none;
        font-size: 16px;
        outline: none;
      }
      input {
        border: none;
        border-color: transparent;
        border-bottom: 1px solid #b2c6cd;
      }
      input:focus, input:hover {
        color: #e1eef3;
        border-width: 0; //ie fix
        border-bottom: 1px solid #e1eef3;
      }
      a {
        color: #02baf2;
      }
    }
    .button {
      margin-top: 16px;
    }
  }
}





