table.terminal {
  margin-top: -32px;
  @include make-lg-column(12);
  thead {
    tr {
      th {
        border: 0;
        text-align: left;
      }
    }
  }
  tbody {
    background-color: #212121;
    color: #f5f5f5;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    td {
      border-top: none;
    }
  }
}
