body.iframe-body {
  background-color: transparent;
}

#monitoring-iframe iframe {
  width: 100%;
  height: 1500px;
  overflow: visible;
}

.chart {
  padding-left: 16px;
}

.stat-label {
  font-weight: bold;
}

.monitor-group {
  @include clearfix;
  @include make-lg-column(6, 1rem);
}

.card.split {
  @include clearfix;
}

.card.split .content {
  display: inline-block;
  min-height: 175px;
}

.card.split .content.medium {
  width: 74.5%;
  margin-left: 1%;
}

.card.split .content.small {
  width: 23%;
  margin-right: 1%;
}
