.page-menu {
  height: 48px;
}

.tabs {
  list-style: none;
  font-size: 16px;
  padding: 0 36px;
  li {
    display: inline-block;
    a {
      position: relative;
      overflow: hidden;
      color: #607d8b;
      text-decoration: none;
      line-height: 14px;
      padding: 17px 24px;
      display: block;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      transition: border-bottom 0.3s;
      border-bottom: 2px solid transparent;
      cursor: pointer;
    }
  }
  li.active > a {
    color: #03a9f4;
    border-bottom: 2px solid #03a9f4;
  }
  li.disabled > a {
    color: #ccc;
    border-bottom: 2px solid transparent;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.tab-content {
  @include clearfix();
}

.tab-pane.vertical-spacing {
  margin-top: 8px;
}
