/* MODULE SCSS => ./scss2/_timeline.scss
*//*
 * LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
 *     but CloudUnit is licensed too under a standard commercial license.
 *     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
 *     If you are not sure whether the GPL is right for you,
 *     you can always test our software under the GPL and inspect the source code before you contact us
 *     about purchasing a commercial license.
 *
 *     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
 *     or promote products derived from this project without prior written permission from Treeptik.
 *     Products or services derived from this software may not be called "CloudUnit"
 *     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
 *     For any questions, contact us : contact@treeptik.fr
 */

.timeline {
  &:before {
    background-color: #b2daf7;
    width: 5px;
    top: $padding-base-vertical;
  }
}

.timeline > li {
  margin-bottom: 0;
}

.timeline > li > .timeline-badge {
  line-height: 38px;
  border: 5px double;
  font-size: 12px;
  outline: 5px solid #F8F8F8;
  background-color: #A2E2C7;
}

.snapshot-list {
  margin-bottom: $padding-large-vertical * 2;
}

.snapshot-list .date-node {
  margin: 0 auto;
  z-index: 999;
  position: relative;
  text-align: center;
  height: 70px;
  width: 70px;
  color: #fff;
  background-color: #B2DAF7;
  border-radius: 100%;
  border: 5px double;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  outline: 5px solid #F8F8F8;
}