<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="page-header">
  <div class="page-title">
    <h2 class="title">
      CloudUnit's friendly applications
    </h2>
  </div>
</div>
<ul class="grid">
  <li class="jenkins-container">
    <a href="https://{{homepage.friends.jenkins}}" data-title="Jenkins" target="_blank">
      <div class="jenkins"></div>
      <br>
      <h3 class="grid-title">Jenkins</h3>
    </a>
  </li>
  <li class="gitlab-container">
    <a href="https://{{homepage.friends.gitlab}}" data-title="Gitlab" target="_blank">
      <div class="gitlab"></div>
      <br>
      <h3 class="grid-title">GitLab</h3>
    </a>
  </li>
  <li class="sonar-container">
    <a href="https://{{homepage.friends.sonar}}" data-title="SonarQube"  target="_blank">
      <div class="sonar"></div>
      <br>
      <h3 class="grid-title">Sonar</h3>
    </a>
  </li>
  <!--<li class="letschat-container">
    <a href="https://{{homepage.friends.letschat}}" data-title="Let's Chat'" target="_blank">
      <div class="letschat"></div>
      <br>
      <h3 class="grid-title">Let's Chat</h3>
    </a>
  </li>-->
  <li class="mattermost-container">
    <a href="https://{{homepage.friends.mattermost}}" data-title="Mattermost'" target="_blank">
      <div class="mattermost"></div>
      <br>
      <h3 class="grid-title">Mattermost</h3>
    </a>
  </li>
  <li class="kibana-container">
    <a data-ng-href="https://{{homepage.friends.kibana}}" data-title="Kibana" target="_blank">
      <div class="kibana"></div>
      <br>
      <h3 class="grid-title">Kibana</h3>
    </a>
  </li>
  <li class="nexus-container pending">
    <a href="https://{{homepage.friends.nexus}}" data-title="Nexus" target="_blank">
      <div class="nexus"></div>	
      <br>
      <h3 class="grid-title">Nexus</h3>
    </a>
  </li>
  <li class="default-container">
    <a target="_blank">
      <div class="default"></div>	
      <br>
      <h3 class="grid-title">Anonymous</h3>
    </a>
  </li>
  <li class="default-container">
    <a target="_blank">
      <div class="default"></div>	
      <br>
      <h3 class="grid-title">Anonymous</h3>
    </a>
  </li>
  <li class="default-container">
    <a target="_blank">
      <div class="default"></div>	
      <br>
      <h3 class="grid-title">Anonymous</h3>
    </a>
  </li>
</ul>
