/* General grid styles */
.grid {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
    width: 80%;
    margin: auto
}

/* Clear floats */
.grid:before, 
.grid:after { 
	content: " "; 
	display: table; 
}

.grid:after { 
	clear: both; 
}

/* grid item */
.grid li {
	width: 33%;
	float: left;
	height: 220px;
	text-align: center;
	border-top: 1px solid #ddd;
}

/* we are using a combination of borders and box shadows to control the grid lines */
.grid li:nth-child(-n+3){
	border-top: none;
}

.grid li:nth-child(3n-1),
.grid li:nth-child(3n-2) {
	box-shadow: 1px 0 0 #ddd;
}

/* anchor style */
.grid li > a {
	display: block;
	height: 100%;
	color: $color-primary;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

/* title element */
.grid .grid-title {
	margin: 8px 0 10px 0;
	padding: 4px 0 0 0;
	font-size: 1.6em;
	position: relative;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.grid .grid-title:before {
	content: '';
	position: absolute;
	background: $color-primary;
	width: 260px;
	height: 4px;
	top: 0px;
	left: 39%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.grid li:hover .cbp-ig-category,
.touch .grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.grid li > a:hover {
	background: $color-primary;
}

.grid li > a:hover .grid-title {
	color: #fff;
}

.grid li > a:hover .grid-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.grid li > a:hover .grid-title:before {
	background: #fff;
	margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
	.grid li {
		width: 50%;
	}

	/* reset the grid lines */
	.grid li:nth-child(-n+3){
		border-top: 1px solid #ddd;
	}

	.grid li:nth-child(3n-1),
	.grid li:nth-child(3n-2) {
		box-shadow: none;
	}

	.grid li:nth-child(-n+2){
		border-top: none;
	}

	.grid li:nth-child(2n-1) {
		box-shadow: 1px 0 0 #ddd;
	}
}

@media screen and (max-width: 41.6em) { 
	.grid li {
		width: 100%;
	}

	.grid li:nth-child(-n+2){
		border-top: 1px solid #ddd;
	}

	.grid li:nth-child(2n-1) {
		box-shadow: none
	}

	.grid li:first-child {
		border-top: none;
	}
}

@media screen and (max-width: 25em) { 
	.grid {
		font-size: 80%;
	}

	.grid .cbp-ig-category {
		margin-top: 20px;
	}
}

.grid a {
	padding-top: 20px;
}

.grid a > div {
	height: 120px;
	margin: auto;
	background-repeat:no-repeat;
	background-size: 100% auto;
	background-position : center;
}
.cloudunit-container:hover .cloudunit {
	background-image: url('./images/cloudunit-manager-color.png');
}

.cloudunit {
	background-image: url('./images/cloudunit-manager.png');
	width: 135px;
}

.sonar-container:hover .sonar {
	background-image: url('./images/sonar-color.png');
}

.sonar {
	background-image: url('./images/sonar.png');
	width: 190px;
}

.nexus-container:hover .nexus {
	background-image: url('./images/nexus-color.png');
}

.nexus {
	background-image: url('./images/nexus.png');
	width: 190px;
}

.jenkins-container:hover .jenkins {
	background-image: url('./images/jenkins-color.png');	
}

.jenkins {
	background-image: url('./images/jenkins.png');
	width: 80px;
}

.gitlab-container:hover .gitlab {
	background-image: url('./images/gitlab-color.png');	
}

.gitlab {
	background-image: url('./images/gitlab.png');
	width: 100px;
}

.letschat-container:hover .letschat {
	background-image: url('./images/letschat-color.png');	
}

.letschat {
	background-image: url('./images/letschat.png');
	width: 390px;
}

.mattermost-container:hover .mattermost {
	background-image: url('./images/mattermost-color.png');	
}

.mattermost {
	background-image: url('./images/mattermost.png');
	width: 220px;
}

.elastic-container:hover .elastic {
	background-image: url('./images/elastic-color.png');	
}

.elastic {
	background-image: url('./images/elastic.png');
	width: 220px;
}

.kibana-container:hover .kibana {
	background-image: url('./images/kibana-color.png');	
}

.kibana {
	background-image: url('./images/kibana.png');
	width: 220px;
}

.taiga-container:hover .taiga {
	background-image: url('./images/taiga-color.png');	
}

.taiga {
	background-image: url('./images/taiga.png');
	width: 110px;
}

.default-container:hover .default {
	background-image: url('./images/default-color.png');	
}

.default {
	background-image: url('./images/default.png');
	width: 110px;
}
