/* MODULE SCSS => ./scss2/_lockscreen.scss
*//*
 * LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
 *     but CloudUnit is licensed too under a standard commercial license.
 *     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
 *     If you are not sure whether the GPL is right for you,
 *     you can always test our software under the GPL and inspect the source code before you contact us
 *     about purchasing a commercial license.
 *
 *     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
 *     or promote products derived from this project without prior written permission from Treeptik.
 *     Products or services derived from this software may not be called "CloudUnit"
 *     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
 *     For any questions, contact us : contact@treeptik.fr
 */

.lock {
  text-align: center;
  position: absolute;
  z-index: 999;
  padding: 100px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //background-color: rgba(0, 0, 0, 0.05);
  display: none;
  border-radius: 2px;
  .title {
    padding-bottom: 16px;
  }
}

.wait {
  display: none;
}

.pending .lock,
.frozen .lockscreen
.app-creation .form .content {
  display: block;
  .spinner > div {
    display: inline-block;
  }
}

.app-creation .wait {
  display: block;
  position: absolute;
  top: 39%;
  left: 44%;
  font-size: 3em;
  color: $color-muted;
}

.fail .lock {
  display: block;
}

.lockscreen {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.frozen .lockscreen {
  display: flex;
  flex-direction: column;
  & .card {
    text-align: center;
  }
  & .spinner > div {
    display: inline-block;
  }
}

.lockscreen .card {;
  width: 30%;
  align-items: center;
  justify-content: center;
}