<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="alert alert-danger" data-ng-show="accountAdmin.errorMsg">
  <button type="button"
          class="close"
          ng-click="accountAdmin.errorMsg = false">
    <span>&times;</span>
  </button>
  <p>{{accountAdmin.errorMsg}}</p>
</div>
<table class="table" data-ng-controller="AccountListCtrl as list">
  <thead>
  <tr>
    <th class="has-input">Login
      <div class="input-group inline">
        <input type="text" ng-model="search.login" class="filter-input" placeholder="Search login">
      </div>
    </th>
    <th>Signin date</th>
    <th>Last Connection</th>
    <th class="has-input">
      Activity
      <div class="dropdown" dropdown="">
        <a class="dropdown-toggle"
           dropdown-toggle=""
           data-ng_bind="list.selectedStatus.name"
           data-ng-init="search.activity = list.selectedStatus.value">
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li data-ng-repeat="status in list.statuses">
            <a ng-href=""
               data-ng-click="search.activity = status.value; list.selectedStatus = status"
               data-ng-bind="status.name">
            </a>
          </li>
        </ul>
      </div>
    </th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Organization</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr
    dir-paginate="user in accountAdmin.users | orderBy:'-signin' | filter:search:strict | filter:search.activity  | itemsPerPage: list.pageSize track by user.id"
    data-current-page="list.currentPage">
    <td>{{user.login}}</td>
    <td>{{user.signin | date:"mediumDate"}}</td>
    <td>{{user.lastConnection | formatdatecalendar}}</td>
    <td class="activity {{user.activity}}"><span
      class="badge circular empty"></span></td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.organization}}</td>
    <td>{{user.email}}</td>
    <td>
      <div class="input-group stack">
        <div class="dropdown" dropdown="">
          <a class="dropdown-toggle"
             dropdown-toggle=""
             data-ng_bind="user.role.description | formatUserRoles">
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li data-ng-repeat="role in accountAdmin.roles">
              <a ng-href=""
                 data-toggle="modal"
                 data-target="#change-role-{{user.login}}"
                 data-ng-click="accountAdmin.selectedRole = accountAdmin.roles[$index]"
                 data-ng-bind="accountAdmin.roles[$index]">
              </a>
            </li>
          </ul>
          <div class="modal"
               id="change-role-{{user.login}}"
               modaldismiss="">
            <div class="modal-inner">
              <div class="content clearfix">
                <h3 class="title">Change role to <strong>{{accountAdmin.selectedRole}}</strong> for user {{user.login}}
                </h3>

                <div class="actions pull-right">
                  <button type="button" class="button secondary" data-dismiss="modal">Cancel
                  </button>
                  <button type="button"
                          data-dismiss="modal"
                          class="change-role-btn button primary"
                          data-ng-click="accountAdmin.changeRole(user, accountAdmin.selectedRole)">
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td>
      <button class="icon-button danger"
              ripple=""
              tooltip=""
              data-title="Delete"
              data-placement="bottom"
              data-toggle="modal"
              data-target="#delete-{{user.login}}">
        <i class="icon-whhg removeuseralt"></i>
      </button>
      <a class="icon-button primary"
         data-ng-hide="user.lastConnection === null"
         ripple=""
         tooltip=""
         data-title="Activity"
         data-placement="bottom"
         ui-sref="account.logs({login: user.login})">
        <i class="icon-whhg rawaccesslogs"></i>
      </a>

      <div class="modal"
           id="delete-{{user.login}}"
           modaldismiss="">
        <div class="modal-inner">
          <div class="content clearfix">
            <h3 class="title">Removal confirmation required for user {{user.login}}</h3>

            <p class="alert">Caution, <strong> this is a permanent action</strong>.</p>

            <div class="actions pull-right">
              <button type="button" class="button secondary" data-dismiss="modal">Cancel
              </button>
              <button type="button"
                      class="delete-btn button primary"
                      data-dismiss="{{accountAdmin.errorMsg ? '' : 'modal' }}"
                      data-ng-click="accountAdmin.deleteUser(user)">
                Delete user
              </button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<dir-pagination-controls></dir-pagination-controls>
