<section id="applications" freeze="">
  <header>
    <div class="page-header">
      <div class="page-title">
        <h2 class="title">Dashboard</h2>
      </div>
      <div class="alert alert-danger" data-ng-show="main.systemError" id="system-alert">
        <button type="button"
                class="close"
                ng-click="main.systemError = false">
          <span>&times;</span>
        </button>
        <p>{{main.systemError}}</p>
      </div>
    </div>
  </header>
  <div class="page-content" id="dashboard">
    <div class="page">
      <div class="subheader">
        <h3 class="subhead"
            ng-show="!dashboard.search">
          My Applications
        </h3>

        <h3 class="subhead"
            ng-show="dashboard.search">
          Applications
          <mark>{{ dashboard.search | formatAppStatus| lowercase }}</mark>
        </h3>

        <div id="status-filter" class="subheader-form">
          <div class="input-group inline">
            <span class="label">Filter by status:</span>

            <div class="dropdown" dropdown="">
              <a class="dropdown-toggle"
                 dropdown-toggle=""
                 data-ng-bind="dashboard.selectedItem">
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedItem = 'all'; dashboard.search = '' ">
                    All
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedItem = 'Start'; dashboard.search = 'START' ">
                    Start
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedItem = 'Stop'; dashboard.search = 'STOP' ">
                    Stop
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedItem = 'Error'; dashboard.search = 'FAIL' ">
                    Error
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <!--create application-->

        <div ng-include="'views/dashboard.createApplication.html'"></div>

        <!--application list-->

        <div id='application-{{application.name}}'
             class="application card small {{ application.status | lowercase}}"
             data-ng-repeat="application in dashboard.applications | orderBy:sortorder | filter:{status: dashboard.search} track by $index">
          <div class="content">
            <h3 class="title">
              {{application.name}}
              <a data-ng-href="#editApplication/{{ application.name }}/overview"
                 class="edit-btn button primary pull-right"
                 ripple="">
                <span>Manage</span>
              </a>
            </h3>

            <div class="status">
              <p class="subhead">
                {{ application.status | formatAppStatus}}
                <a href="https://treeptik.zendesk.com"
                   target="_blank"
                   data-ng-show="application.status === 'FAIL'"
                   tooltip=""
                   data-title="Contact support"
                   data-placement="bottom">
                  <i class="icon-whhg support"></i>
                </a>
              </p>

              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>

              <div class="wait">
                <div class="icon">
                  <i class="icon-whhg hourglass2"></i>
                </div>
              </div>
            </div>

            <div class="features">
              <p class="subhead">Services</p>

              <p>{{ application.servers[0].image.name}}</p>

              <p ng-hide="application.modules.length > 1">No modules</p>
              <ul class="modules" ng-show="application.modules.length > 1">
                <li class="module-name"
                    data-ng-repeat="module in application.modules | filter: {image: {imageType: 'module'}}">
                  {{module.image.name | lowercase }}
                </li>
              </ul>
            </div>
            <div class="action clearfix">
              <div class="secondary-action">
                <button class="toggle-modal icon-button secondary pull-left"
                        data-toggle="modal"
                        data-target="#delete-{{application.name}}"
                        data-keyboard="true"
                        ripple=""
                        tooltip=""
                        data-title="Delete"
                        data-placement="bottom">
                  <i class="icon-whhg trash"></i>
                </button>
                <a class="icon-button secondary"
                   data-ng-hide="application.status==='STOP' || application.deploymentStatus !== 'ALREADY_DEPLOYED'"
                   data-ng-href="{{ application.location }}"
                   target="_blank"
                   ripple=""
                   tooltip=""
                   data-title="Open in browser"
                   data-placement="bottom">
                  <i class="icon-whhg preview"></i>
                </a>
                <a class="snapshot-link icon-button secondary"
                   data-ng-href="#editApplication/{{application.name}}/snapshot"
                   ripple=""
                   tooltip=""
                   data-title="Take snapshot"
                   data-placement="bottom">
                  <i class="icon-whhg camera"></i>
                </a>
                <a class="logs-link icon-button secondary"
                   data-ng-href="#editApplication/{{application.name}}/logs"
                   ripple=""
                   tooltip=""
                   data-title="Logs"
                   data-placement="bottom">
                  <i class="icon-whhg rawaccesslogs"></i>
                </a>
                <button class="server-btn icon-button secondary"
                        data-ng-click="dashboard.toggleServer(application)"
                        ripple=""
                        tooltip=""
                        data-title="{{application.status === 'STOP' ? 'Start' : 'Stop'}}"
                        data-placement="bottom"
                        click-once="">
                  <i class="icon-whhg power"></i>
                </button>
              </div>
            </div>
            <!--application remove confirmation dialog-->

            <div class="modal"
                 id="delete-{{application.name}}"
                 modaldismiss="">
              <div class="modal-inner">
                <div class="content">
                  <h3 class="title">Removal confirmation required for {{application.name}}</h3>

                  <p class="alert">Caution, <strong> this is a permanent action</strong>. Once you
                    delete an app, you cannot get it back. This app will no longer be available.
                  </p>
                  <div class="action">
                    <button type="button" class="button secondary" data-dismiss="modal">Cancel
                    </button>
                    <button type="button" class="delete-btn button primary"
                            data-ng-click="dashboard.deleteApplication(application.name)"
                            data-dismiss="modal">
                      I understand, permanently delete my app
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end ng-repeat-->
      </div>
    </div>

    <!--message timeline-->

    <div data-ng-include="'views/feed.html'"></div>
  </div>
</section>
