<!--
  ~ LICENCE : CloudUnit is available under the GNU Affero General Public License : https://gnu.org/licenses/agpl.html
  ~ but CloudUnit is licensed too under a standard commercial license.
  ~ Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~ If you are not sure whether the AGPL is right for you,
  ~ you can always test our software under the AGPL and inspect the source code before you contact us
  ~ about purchasing a commercial license.
  ~
  ~ LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~ or promote products derived from this project without prior written permission from Treeptik.
  ~ Products or services derived from this software may not be called "CloudUnit"
  ~ nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~ For any questions, contact us : contact@treeptik.fr
  -->

<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="tab-pane card large vertical-spacing" data-ng-controller="PortsCtrl as ports">
  <div class="content clearfix">
    <div class="ports-form col-lg-6 col-md-6 col-xs-12">
      <h3 class="title large">Add new port</h3>

      <form id="add-ports"
            name="addPortsForm"
            class="clearfix" novalidate=""
            data-ng-submit="ports.createPort(editApp.application.name, ports.number, ports.nature)">

        <div class="input-group">
          <input id="new-port"
                 name="port"
                 type="text"
                 data-ng-model="ports.number"
                 ng-required=""
                 placeholder="Port number"/>

          <div class="dropdown" dropdown="">
            <a class="dropdown-toggle"
               dropdown-toggle=""
               selectbox="">
              {{ ports.myNature.value }}
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li data-ng-repeat="nature in ports.natures">
                <a ng-href=""
                   data-ng-click="ports.myNature = nature">
                  {{nature.value}}
                </a>
              </li>
            </ul>
          </div>

          <p class="hint">Enter your port number</p>

          <p class="hint error" data-ng-show="ports.errorMsg">{{ports.errorMsg}}</p>
        </div>
        <div class="actions">
          <div class="secondary-actions pull-right">
            <button type="submit"
                    class="ports-btn button primary raised"
                    ripple="">
              <span>Add a port</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="ports-list col-lg-6 col-md-6 col-xs-12">
      <h3 class="title large">Registered ports</h3>

      <p class="no-ports text-muted" data-ng-if="!editApp.application.urls.length">No registered ports</p>
      <ul data-ng-if="editApp.application.urls.length">
        <li data-ng-repeat="url in editApp.application.urls track by $index">
          <a class="body-2"
             data-ng-href="http://{{editApp.application.urls[$index]}}"
             target="_blank">
            <!-- TODO : en fonction de http ou external, activer _blank -->
            {{editApp.application.urls[$index]}}
          </a>
          <button class="remove-ports-btn icon-button secondary"
                  ripple=""
                  tooltip=""
                  data-title="Remove"
                  data-placement="bottom"
                  data-ng-click="ports.removePort(editApp.application.name, editApp.application.ports[$index])">
            <span class="icon-whhg circledelete"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
