<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<section data-ng-cloak="" id="configure-{{editApp.application.name}}" freeze="">
  <header>
    <div class="page-header">
      <div class="page-title">
        <a class="go-back-link icon-button primary"
           href="#dashboard"
           ripple=""
           tooltip=""
           data-title="Retour"
           data-placement="bottom">
          <i class="icon-whhg back"></i>
        </a>

        <h2 class="title">
          Application
          {{editApp.application.name}}
          <a id="preview-link"
             class="icon-button"
             data-ng-class="{'disabled':editApp.application.status==='STOP' || editApp.application.deploymentStatus !== 'ALREADY_DEPLOYED' }"
             data-ng-href="{{ editApp.application.location }}"
             target="_blank"
             tooltip=""
             data-title="Open in browser"
             data-placement="bottom">
            <span><i class="icon-whhg preview"></i></span>
          </a>
        </h2>
      </div>
      <div class="page-menu">
        <ul class="tabs">
          <li data-ng-class="{'active': editApp.currentTab === 'overview'}">
            <a id="overview-tab" data-ng-href="#editApplication/{{editApp.application.name}}/overview" ripple="">
              <span>Overview</span>
            </a>
          </li>
          <li
            data-ng-class="{'active': editApp.currentTab === 'addModule', 'disabled':editApp.application.status==='STOP'}">
            <a id="add-service-tab" data-ng-href="#editApplication/{{editApp.application.name}}/addModule" ripple="">
              <span>Add module</span>
            </a>
          </li>
          <li
            data-ng-class="{'active': editApp.currentTab === 'deploy', 'disabled':editApp.application.status==='STOP'}">
            <a id="deploy-tab" data-ng-href="#editApplication/{{editApp.application.name}}/deploy" ripple="">
              <span>Deploy</span>
            </a>
          </li>
          <li data-ng-class="{'active': editApp.currentTab === 'alias'}">
            <a id="alias-tab" data-ng-href="#editApplication/{{editApp.application.name}}/alias" ripple="">
              <span>Aliases</span>
            </a>
          </li>
          <li data-ng-class="{'active': editApp.currentTab === 'ports'}">
            <a id="ports-tab" data-ng-href="#editApplication/{{editApp.application.name}}/ports" ripple="">
              <span>Ports</span>
            </a>
          </li>
          <li
            data-ng-class="{'active': editApp.currentTab === 'configureJVM', 'disabled':editApp.application.status==='STOP'}">
            <a id="configure-jvm-tab" data-ng-href="#editApplication/{{editApp.application.name}}/configureJVM"
               ripple="">
              <span>JVM configuration</span>
            </a>
          </li>
          <li
            data-ng-class="{'active': editApp.currentTab === 'explorer', 'disabled':editApp.application.status==='STOP'}">
            <a id="explorer-tab" data-ng-href="#editApplication/{{editApp.application.name}}/explorer" ripple="">
              <span>Explorer</span>
            </a>
          </li>
          <li data-ng-class="{'active': editApp.currentTab === 'logs'}">
            <a id="logs-tab" data-ng-href="#editApplication/{{editApp.application.name}}/logs" ripple="">
              <span>Logs</span>
            </a>
          </li>

          <li
            data-ng-class="{'active': editApp.currentTab === 'monitoring', 'disabled':editApp.application.status==='STOP'}">
            <a id="monitoring-tab" data-ng-href="#editApplication/{{editApp.application.name}}/monitoring" ripple="">
              <span>Monitoring</span>
            </a>
          </li>

          <li
            data-ng-class="{'active': editApp.currentTab === 'snapshot', 'disabled':editApp.application.status==='STOP'}">
            <a id="snapshot-tab" data-ng-href="#editApplication/{{editApp.application.name}}/snapshot" ripple="">
              <span>Snapshot</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="page {{ editApp.application.status | lowercase }}"
       data-ng-class="{full: editApp.currentTab === 'logs' || editApp.currentTab === 'monitoring'  }"
       id="application-{{ editApp.application.name }}">

    <div class="tab-content" ng-switch on="editApp.currentTab">

      <div id="overview" ng-switch-default>
        <ng-include src="'views/editApplication.overview.html'"></ng-include>
      </div>

      <div id="alias" ng-switch-when="alias">
        <ng-include src="'views/editApplication.alias.html'"></ng-include>
      </div>

      <div id="add-service" ng-switch-when="addModule">
        <ng-include src="'views/editApplication.modules.html'"></ng-include>
      </div>

      <div id="configure-jvm" ng-switch-when="configureJVM">
        <ng-include src="'views/editApplication.configureJVM.html'"></ng-include>
      </div>

      <div id="explorer" ng-switch-when="explorer">
        <ng-include src="'views/editApplication.explorer.html'"></ng-include>
      </div>

      <div id="logs" ng-switch-when="logs">
        <ng-include src="'views/editApplication.logs.html'"></ng-include>
      </div>

      <div id="monitoring" ng-switch-when="monitoring">
        <ng-include src="'views/editApplication.monitoring.html'"></ng-include>
      </div>

      <div id="ports" ng-switch-when="ports">
        <ng-include src="'views/editApplication.ports.html'"></ng-include>
      </div>

      <div id="snapshot" ng-switch-when="snapshot">
        <ng-include src="'views/editApplication.snapshot.html'"></ng-include>
      </div>

      <div id="deploy" ng-switch-when="deploy">
        <ng-include src="'views/editApplication.deploy.html'"></ng-include>
      </div>
    </div>
  </div>

  <div data-ng-hide="editApp.currentTab === 'logs' || editApp.currentTab === 'monitoring'"
       data-ng-include="'views/feed.html'"></div>
</section>


