<!--
  ~ LICENCE : CloudUnit is available under the Gnu Public License GPL V3 : https://www.gnu.org/licenses/gpl.txt
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div id="feed" class="feed hidden-xs hidden-sm" data-ng-controller="MessageCtrl as message">
  <div class="subheader">
    <h3 class="subhead">Tasks timeline</h3>
  </div>
  <p class="hint" ng-if="!message.messages.length">No recent event</p>
  <ul class="feed-list" ng-if="message.messages.length">
    <li class="feed-item {{ message.type | lowercase }}"
        data-ng-repeat="message in message.messages track by message.id">
      <time class="feed-date">{{ message.date | date:'short' }}</time>
      <span class="feed-event">{{ message.event }}</span>
    </li>
  </ul>
</div>
