<div id="login" class="login">
  <div class="tile tile-login">
    <div class="tile-content">
      <div class="tile-header">
        <h1 class="brand">
          <img class="logo" src="styles/images/logo-cloudunit.png">
        </h1>
      </div>
      <form role="form" id="login-form" novalidate=""
            data-ng-submit="login.check(login.user.username,  login.user.password)" autofill-fix>
        <div class="alert alert-danger" data-ng-show="main.systemError">
          <button type="button"
                  class="close"
                  ng-click="main.systemError = false">
            <span>&times;</span>
          </button>
          <p>{{main.systemError}}</p>
        </div>
        <div class="input-group stack">
          <label for="username">Username</label>
          <input type="text"
                 id="username"
                 data-ng-model="login.user.username"
                 required="">
        </div>
        <div class="input-group stack">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 data-ng-model="login.user.password" required>
        </div>
        <button id="login-btn"
                type="submit"
                class="button primary raised pull-right"
                data-ng-disabled="form.$invalid">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
