<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="tab-pane vertical-spacing">
  <div class="card large" id="scripting">
    <div class="content">
      <h3 id="pp" class="title large">Scripts</h3>

      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="subheader">
        <div class="subheader-form">

          <div class="input-group inline">
            <span class="label">Load script: </span>
            
            <div class="dropdown" dropdown="">
              <a class="dropdown-toggle"
                 dropdown-toggle=""
                 selectbox="">
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                  <a ng-href=""
                     data-ng-click="scripting.date = 'Recent'; orderBy();">
                    Recent
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="scripting.date = 'Old'; orderBy();">
                    Old
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="input-group stack clearfix">
        <label>Scripts</label>

        <div  text-angular
              ta-toolbar="[]"
              id="jvm-param-options"
              data-ng-model="scripting.content"
              data-ng-disabled="scripting.application.status === 'PENDING'"
              placeholder="Enter your script"></div>
      </div>
      <!--<textarea class="textarea-full"></textarea>-->
      <!--<div id="scripting-task" data-ng-show="scripting.messages.length">
        <table class="table ng-table-responsive terminal">
          <tr data-ng-repeat="message in scripting.messages | filter:{event:scripting.event, applicationName:scripting.applicationName} | orderBy:'date':scripting.orderByDate">
            <td>
              {{ message.applicationName }} {{ message.dateAsString }} {{ message.event }}
            </td>
          </tr>
        </table>
      </div>-->
    </div>
  </div>
</div>
