<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="tab-pane vertical-spacing">

   <div class="card large" id="add-cripting">
    <div class="content">
      <h3 class="title large">Add Scripts</h3>

      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>

      
      <div class="input-group stack clearfix">
        <div class="input-group stack">
          <label for="domain">Script name</label>
          <input id="name"
                 name="name"
                 type="text"
                 data-ng-model="scripting.title">
        </div>
        <label>Script content</label>
        <textarea class="textarea-custom textarea-mid-full" data-ng-model="scripting.content"
              data-ng-disabled="scripting.application.status === 'PENDING'"
              placeholder="Enter your script"></textarea>
        <div class="clearfix">
          <button class="config-snapshot-btn button raised primary pull-right"
                  ripple=""
                  data-ng-disabled="!scripting.content || !scripting.title"
                  data-ng-click="scripting.addScript(scripting.content, scripting.title)">
            <span>Add script</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card large" id="manage-scripting">
    <div class="content">
      <h3 class="title large">Manage Scripts</h3>

      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>


      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Owner</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
          dir-paginate="user in scripts  | itemsPerPage: scripting.pageSize track by script.id"
          data-current-page="scripting.currentPage">
          <td>{{ script.title}}</td>
          <td>{{ script.creation_date}}</td>
          <td>{{ script.creation_user}}</td>

          <td>
            <button class="icon-button danger"
                    ripple=""
                    tooltip=""
                    data-title="Delete"
                    data-placement="bottom"
                    data-toggle="modal"
                    data-target="#delete-{{script.id}}">
              <i class="icon-whhg removeuseralt"></i>
            </button>

            <div class="modal"
                id="delete-{{script.id}}"
                modaldismiss="">
              <div class="modal-inner">
                <div class="content clearfix">
                  <h3 class="title">Removal confirmation required for script {{script.title}}</h3>

                  <p class="alert">Caution, <strong> this is a permanent action</strong>.</p>

                  <div class="actions pull-right">
                    <button type="button" class="button secondary" data-dismiss="modal">Cancel
                    </button>
                    <button type="button"
                            class="delete-btn button primary"
                            data-dismiss="{{accountAdminList.error ? '' : 'modal' }}"
                            data-ng-click="scripting.deleteScript(script)">
                      Delete script
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <button class="icon-button"
                    ripple=""
                    tooltip=""
                    data-title="Edit"
                    data-placement="bottom"
                    data-toggle="modal"
                    data-target="#edit-{{script.id}}">
              <i class="icon-whhg removeuseralt"></i>
            </button>

            <div class="modal large"
                  id="edit-{{script.id}}"
                  modaldismiss="">
              <div class="modal-inner">
                <div class="content modal-full-input">
                  <h3 class="title">Edit Script</h3>
                  <div ng-model="script.content" ui-codemirror="{ onLoad : explorer.codemirrorLoaded }" ></div>
                  
                  <div class="action">
                    <button type="button" class="button primary raised" data-dismiss="modal">Cancel
                    </button>
                    <button type="button" class="button primary raised"
                            ng-click="script.editScript(script.id, script.content, script.title)"
                            data-dismiss="modal">
                      Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <button class="icon-button"
                    ripple=""
                    tooltip=""
                    data-title="Execute"
                    data-placement="bottom"
                    data-toggle="modal"
                    data-target="#execute-{{script.id}}">
              <i class="icon-whhg removeuseralt"></i>
            </button>

            <div class="modal"
                id="execute-{{script.id}}"
                modaldismiss="">
              <div class="modal-inner">
                <div class="content clearfix">
                  <h3 class="title">Execute confirmation required for script {{script.title}}</h3>

                  <div class="actions pull-right">
                    <button type="button" class="button secondary" data-dismiss="modal">Cancel
                    </button>
                    <button type="button"
                            class="delete-btn button primary"
                            data-dismiss="{{scripting.error ? '' : 'modal' }}"
                            data-ng-click="scripting.executeScript(script.id)">
                      Execute script
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <dir-pagination-controls></dir-pagination-controls>

    </div>
  </div>
</div>
  


<!--      <table class="table">
        <tr>
          <td>Name</td>
          <td>Date</td>
          <td>Owner</td>
          <td>Actions</td>
        </tr>
        <tr >
          <td>{ script.title }}</td>
          <td>{ script.creation_date }}</td>
          <td>{ script.creation_user }}</td>
          <td>
            <div class="app-bar-icons">
              <ul class="icon-bar">
                <li class="button-container">
                  <a id="account-link" href="#account/admin" class="icon-button secondary" ripple=""
                    tooltip="" data-title="Account" data-placement="bottom">
                    <i class="icon-whhg useralt"></i>
                  </a>
                </li>
                <li>
                  <button id="logout-btn" class="icon-button secondary" data-ng-click="main.logout()" ripple="" tooltip=""
                          data-title="Logout" data-placement="bottom">
                    <i class="icon-whhg exit"></i>
                  </button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>-->












<!--      <div class="subheader">
        <div class="subheader-form">

          <div class="input-group inline">
            <span class="label">Load script: </span>
            
            <div class="dropdown" dropdown="">
              <a class="dropdown-toggle"
                 dropdown-toggle=""
                 selectbox="">
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                  <a ng-href=""
                     data-ng-click="scripting.date = 'Recent'; orderBy();">
                    Recent
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="scripting.date = 'Old'; orderBy();">
                    Old
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="input-group stack clearfix">
        <label>Scripts</label>

        <textarea class="textarea-full" data-ng-model="scripting.content"
              data-ng-disabled="scripting.application.status === 'PENDING'"
              placeholder="Enter your script"></textarea>
        /***<div  text-angular
              ta-toolbar="[]"
              data-ng-model="scripting.content"
              data-ng-disabled="scripting.application.status === 'PENDING'"
              placeholder="Enter your script"></div>
      </div>
      ***/
        <div class="clearfix">
          <button class="config-snapshot-btn button raised primary pull-right"
                  ripple=""
                  data-ng-click="scripting.executeScript(scripting.content)">
            <span>Execute</span>
          </button>
        </div>
      /***<textarea class="textarea-full"></textarea>
      <div id="scripting-task" data-ng-show="scripting.messages.length">
        <table class="table ng-table-responsive terminal">
          <tr data-ng-repeat="message in scripting.messages | filter:{event:scripting.event, applicationName:scripting.applicationName} | orderBy:'date':scripting.orderByDate">
            <td>
              {{ message.applicationName }} {{ message.dateAsString }} {{ message.event }}
            </td>
          </tr>
        </table>
      </div>***/
    </div>
  </div>
</div>-->
