
/***************************** Body *********************************/

body {
	font-family: 'futura-pt', sans-serif;
    color: black;
   	font-size: 2rem;
    font-weight: 400;
    background-color: #33CCFF;
	background-repeat: no-repeat;
	background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
} 


/**************************** General *********************************/

img {
	margin-top:  2rem;
	height: 100px;
	width: 250px
}

container {
	padding:  0 16px;
	background: white;
	float:left;
}

 h1 {
	text-align: center;
	vertical-align: baseline;
}

/* h2 {
	text-align: center;
	vertical-align: baseline;
} */

h4 {
	text-align: center;
} 

input {
	width: 180px;
	vertical-align: baseline;
}
/* .#allpage {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
 */
.separator {
	background-color: black;
	padding: .5px;
}

.separator2 {
	background-color: black;
	padding: 1px;
}

/************************ First Section ******************************/

.header__wrapper {
	margin-left: 0px;

}

.top_bar {
	margin-top: 0;
	background-color: #3b3e46;
}

.nav_brand {
	margin-left: 15px;
} 

/************************ Second Section ****************************/ 

#mainHeader {
	
 	margin-top: 0;
	margin-bottom: 0;
    text-align: center;
}

.blockOne {
	background-image: url("/assets/img/computer-bg.jpg"); 
	background-size: 100%;
	background-repeat: no-repeat;
}
.mainOne {
	background-color: #FEFE00;
	border: 1px solid #a6a6a6;
	border-radius:10px;
 	margin-left: 275px;
	margin-right: 955px;
	margin-top: 55px;
	margin-bottom: 55px;  
	display: inline-block;
	min-width: 35%;
	max-width: 40%;
	/* width: 35%; */
	/* position: relative;
    border: 1px solid white;
    padding-top: 2rem;
    padding: 16px; */
}

/* .box_container {
	background-color: #f2f6f7;
	border: 2px ridge #a6a6a6;
	display: inline-block;
	margin-bottom: 25px; 
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
    max-width: 400px;
	padding-top: 2rem;
	padding: 0;
}*/

/* .box .intro .box_container {
	
	
} */
 
.sub_heading {
	font-weight: 100;
	text-align: center;
}

.mainOne .box__heading {
	background: url("/assets/img/dotted_black_bg.png") repeat;
	padding: 0;
	text-align: center
/* 	border: 3px dotted black;
	border-radius:10px; */
}

.mainOne .box__heading .heading {
	background-color: black;
    color: white;
    display: inline-block;
    /*position: absolute;
    top: -36px;
    left: 4px; */
}  

.box .intro	.box_content {
	margin-top:  2rem;
}

.blockOne {
	margin-left: 5px;
	background-color: green;
}

.wpb_wrapper {
	text-align: center;
}

.cta {
    outline: 0;
    display: block;
    border: 1px solid !important;
    padding: 6px 26px;
    padding: .40625rem 1.625rem;
    -webkit-transition: box-shadow .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 26px 0;
    margin: 1.625rem 0;
    margin-left: 45px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    width: 75%;
}

.cta.cta--primary {
    color: deeppink;
    border-color: deeppink;
    border-radius:5px;
    box-shadow: 4px 4px 0 deeppink;
}

.cta.cta--secondary {
    color: black;
    border-color: black;
    border-radius:5px;
    box-shadow: 4px 4px 0 black;
}

.cta__hint {
    display: block;
    margin-top: -8px;
}


/*************************** Third Section ****************************/

#Key_concept{
	height: auto;
	width: 100%;
	/* position: relative; */
	left: 0;
	top: 0;
	text-align: center;
}

.help-block {
	color: grey;
	width: 100%;
} 

.complementary {
	position: relative;
    z-index: 3;
    min-height: 675px;
    background-image: url("/assets/img/technicians-sm.png");
    background-size: 85%;
    background-position: right bottom;
    background-repeat: no-repeat;
    max-width: 320px;
}

.complementaries {
	margin-left: 150px;
	margin-right: 800px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.Koncept {
	/* margin-left: 450px;
	 margin-right: 550px; */
	margin-bottom: 50px;
	margin-top: 100px; 
	display: inline-block;

}

.Koncept .box__heading {
	background: url("/assets/img/dotted_transp_bg.png") repeat;
	padding: 0;
	text-align: center
/* 	border: 3px dotted black;
	border-radius:10px; */
}

.Koncept .box__heading .heading{
	background: black;
	color: white;
}

/* dd {
	box-sizing: border-box;
	color: black;
} */


/*************************** Fourth Section ****************************/

#Usage {
	/* background-color: #f2f6f7;
	border: 1px solid #a6a6a6;
	border-radius:10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px; */
	height: auto;
	width: 100%;
	position: relative;
	left: 0;
	top: 0; 
}

.usages {
	 display: block; 
	/* text-align: left; */
}
 /* ol {
	display: block;
	text-align: center;
}

li {
	display: block;
}  */
ol > li {
	list-style: none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}

/***************************  Fifth Section ****************************/

#Going_further {
	background-image: url("/assets/img/engineers.png");
    background-size: contain;
    background-position: 75% bottom;
    background-repeat: no-repeat;
	height: auto;
	width: 100%;
	left: 0;
	top: 0;
	overflow:auto;
}

.further{

}


.formCloudunit {
	/* background-color: white; 
	border: 3px outset black;
	border-radius:10px;
	margin-left: 250px;
	margin-right: 400px;
	margin-bottom: 25px;
	
	text-align: center; */
	margin-left: 350px;
	margin-right: 650px;
	text-align: center;
	display:  inline-block;
	min-width: 20%;
	max-width: 25%;
}

.setting-Form {

	/* text-align: center */
}

.subClunit {
	/* background-color: none; */
}

#Going_further a:link {
	color: white;
}


/***************************** Social Section ********************************/

#mainFooter {

}

.row {
	margin-top: 25px;
	text-align: center;
	background: white;
	/* size: 75px; */
}

.social_foot_bar {
	/* vertical-align: baseline; */
	text-align: center;
	display: inline-flex;
}
 
.social_foot_bar ul {
	padding: 0;
	margin: 0;
}

.social_foot_bar li {
	list-style: none;
	margin: 0 30px;
}

.social_foot_bar li a {
	color: black;
	padding:  8px;
}

.social_foot_bar li a:hover {
	color: deeppink;
}

.partner {
	list-style-type: none;
}

.treeptik {
	list-style-type: none;
}


/****************************** Footer Section ********************************/


.col-md-12 {
	text-align: center;
}