
/***************************** Body *********************************/

body {
	/* background-image: url("/assets/img/computer-bg.jpg"); 
	background-color: black; */
	font-family: 'futura-pt', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
} 


/**************************** General *********************************/

img {
	margin-top:  2rem;
	height: 50px;
	width: 250px
}

container {
	padding:  0 16px;
	background: white;
}

h1 {
	text-align: center;
	vertical-align: baseline;
}

h2 {
	text-align: center;
	vertical-align: baseline;
}

h4 {
	text-align: center;
}

.#allpage {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.separator {
	background-color: #01baf2;
	padding: 2px;
}

.separator2 {
	background-color: black;
	padding: 1px;
}

/************************ First Section ******************************/
.top_bar {
	margin-top: 0;
	background-color: #3b3e46;
}

.nav_brand {
	margin-left: 15px;
} 

/************************ Second Section ****************************/ 

.theOne {
	/* background-image: url("/assets/img/computer-bg.jpg");
	background-color: black;
	background-size: cover; */
}

#mainONe {
	/* background-image: url("/assets/img/computer-bg.jpg");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat; */
	background-color: #f2f6f7;
	border: 1px solid #a6a6a6;
	border-radius:10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.blocks {
/*	background-image: url("/assets/img/computer-bg.jpg");
	background-color: black;
	background-size: cover; 
	background-color: #f2f6f7;
	border: 1px solid #a6a6a6; */
	margin-left: 15px;
	margin-right: 15px;
}

.box_container {
	background-color: #f2f6f7;
	border: 2px ridge #a6a6a6;
	display: inline-block;
	/* margin-bottom: 25px; 
	margin-left: 20px; */
	margin-top: 100px;
	position: relative;
    max-width: 400px;
	padding-top: 2rem;
	padding: 0;
}

/* .box .intro .box_container {
	
	
} */

.sub_heading {
	font-weight: 200;
}

.box .box_heading .heading {
		
	background-color: blue;
    color: white;
    display: inline-block;
    position: absolute;
    top: -36px;
    left: 4px;
}

.box .intro	.box_content {
	margin-top:  2rem;
}

/*.blocks {
	margin-left: 50px;
	margin-right: 50px;
}*/

.blockOne {
	margin-left: 5px;
	background-color: green;
}

.wpb_wrapper {
	text-align: center;
}


/*************************** Third Section ****************************/

#Key_concept{
	background-image: url("assets/img/treeptik-homepage.jpg");
	background-color: black;
	background-size: cover;
}

.help-block {
	color: white;

}


.concept {
	text-align: center;

}

dd {
	color: white;
}


/*************************** Fourth Section ****************************/

#Usage {
	background-color: #f2f6f7;
	border: 1px solid #a6a6a6;
	border-radius:10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px;

}

.usages {
	 display: block; 
	text-align: center;
}
 ol {
	display: block;
	text-align: center;
}

li {
	display: block;
} 

/***************************  Fifth Section ****************************/

#Going_further {
	 /* display: block; */
	text-align: center;
	background-image: url("assets/img/treeptik-homepage.jpg");
	background-color: grey;
	background-size: cover;
}

.formCloudunit {
	background-color: white; 
	border: 3px outset black;
	border-radius:10px;
	margin-left: 150px;
	margin-right: 700px;
	margin-bottom: 25px;
	display: block;
	text-align: center;
}

.setting-Form {
	text-align: center
}
.button {
	display: block;
	margin: 0 auto;
}

#Going_further a:link {
	color: white;
}


/***************************** Social Section ********************************/

#mainFooter {

}

.social_foot_bar {
	vertical-align: baseline;
	text-align: center
}
 
.social_foot_bar ul {
	padding: 0;
	margin: 0;
}

.social_foot_bar li {
	list-style: none;
	display: block;
}

.social_foot_bar li a{
	color: deeppink;
	padding:  8px;
	display: inline-block;
	transition: color: .3s;
}

.social_foot_bar li a:hover {
	color: black;
}


/****************************** Footer Section ********************************/


.col-md-12 {
	text-align: center;
}