
/***************************** Body *********************************/

body {
	/* background-image: url("/assets/img/computer-bg.jpg"); 
	background-color: black; */
	font-family: 'futura-pt', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
} 


/**************************** General *********************************/

img {
	margin-top:  2rem;
	height: 50px;
	width: 250px
}

container {
	padding:  0 16px;
	background: white;
}

 h1 {
	text-align: center;
	vertical-align: baseline;
}

/* h2 {
	text-align: center;
	vertical-align: baseline;
}

h4 {
	text-align: center;
} */

.#allpage {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.separator {
	background-color: #01baf2;
	padding: 2px;
}

.separator2 {
	background-color: black;
	padding: 1px;
}

/************************ First Section ******************************/
.top_bar {
	margin-top: 0;
	background-color: #3b3e46;
}

.nav_brand {
	margin-left: 15px;
} 

/************************ Second Section ****************************/ 

#mainHeader {
	background-image: url("/assets/img/computer-bg.jpg");
	background-color: black;
	background-size: cover; 
	background-repeat: no-repeat;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.mainONe {
	/* background-image: url("/assets/img/computer-bg.jpg");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat; */
	background-color: #f2f6f7;
	border: 1px solid #a6a6a6;
	border-radius:10px;
	margin-left: 275px;
	margin-right: 955px;
	margin-top: 55px;
	margin-bottom: 55px; 
	width: 20%;
	/* position: relative;
    border: 1px solid white;
    padding-top: 2rem;
    padding: 16px; */
}


.blocks {
/*	background-image: url("/assets/img/computer-bg.jpg");
	background-color: black;
	background-size: cover; 
	background-color: #f2f6f7;
	border: 1px solid #a6a6a6; */
	margin-left: 15px;
	margin-right: 15px;
}

.box_container {
	background-color: #f2f6f7;
	border: 2px ridge #a6a6a6;
	display: inline-block;
	/* margin-bottom: 25px; 
	margin-left: 20px; */
	margin-top: 100px;
	position: relative;
    max-width: 400px;
	padding-top: 2rem;
	padding: 0;
}

/* .box .intro .box_container {
	
	
} */

.sub_heading {
	font-weight: 100;
	text-align: center;
}

.box .box_heading .heading {
		
	background-color: blue;
    color: white;
    display: inline-block;
    position: absolute;
    top: -36px;
    left: 4px;
} 

.box .intro	.box_content {
	margin-top:  2rem;
}

.blocks {
	margin-left: 50px;
	margin-right: 50px;
}*/

.blockOne {
	margin-left: 5px;
	background-color: green;
}

.wpb_wrapper {
	text-align: center;
}

.cta {
    outline: 0;
    display: block;
    border: 1px solid !important;
    padding: 6px 26px;
    padding: .40625rem 1.625rem;
    -webkit-transition: box-shadow .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 26px 0;
    margin: 1.625rem 0;
    margin-left: 45px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    width: 75%;
}

.cta.cta--primary {
    color: deeppink;
    border-color: deeppink;
    border-radius:5px;
    box-shadow: 4px 4px 0 deeppink;
}

.cta.cta--secondary {
    color: black;
    border-color: black;
    border-radius:5px;
    box-shadow: 4px 4px 0 black;
}

.cta__hint {
    display: block;
    margin-top: -8px;
}


/*************************** Third Section ****************************/

#Key_concept{
	background-color: #33CCFF;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
}

/* .help-block {
	color: grey;
} */

.concept {
	/* text-align: center; */

}

dd {
	color: black;
}


/*************************** Fourth Section ****************************/

#Usage {
	/* background-color: #f2f6f7;
	border: 1px solid #a6a6a6;
	border-radius:10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px; */
	background-color: #33CCFF;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
}

.usages {
	 display: block; 
	/* text-align: left; */
}
 /* ol {
	display: block;
	text-align: center;
}

li {
	display: block;
}  */
ol > li {
	list-style: none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}

/***************************  Fifth Section ****************************/

#Going_further {
	 /* display: block; */
	/* text-align: center;
	background-image: url("assets/img/treeptik-homepage.jpg");
	background-color: grey;
	background-size: cover; */
	background-color: #33CCFF;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
}

.formCloudunit {
	/* background-color: white; 
	border: 3px outset black;
	border-radius:10px;
	margin-left: 250px;
	margin-right: 400px;
	margin-bottom: 25px;
	display: block;
	text-align: center; */
}

.setting-Form {
	
	/* text-align: center */
}
.button {
	display: block;
	margin: 0 auto;
}

#Going_further a:link {
	color: white;
}


/***************************** Social Section ********************************/

#mainFooter {

}

.social_foot_bar {
	vertical-align: baseline;
	text-align: center 
}
 
.social_foot_bar ul {
	padding: 0;
	margin: 0;
}

.social_foot_bar li {
	list-style: none;
	display: block;
}

.social_foot_bar li a{
	color: black;
	padding:  8px;
	display: inline-block;
	transition: color: .3s;
}

.social_foot_bar li a:hover {
	color: deeppink;
}


/****************************** Footer Section ********************************/


.col-md-12 {
	text-align: center;
}