
/***************************** Body *********************************/

body {
	font-family: 'futura-pt', sans-serif;
    color: black;
   	font-size: 1.5rem;
    font-weight: 400;
    background-color: #33CCFF;
	background-repeat: no-repeat;
	background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

/**************************** General *********************************/

container {
	padding:  0 16px;
	background: white;
	float:left;
}

 h1 {
	text-align: center;
	vertical-align: baseline;
}

h4 {
	text-align: center;
}

input {
	width: 180px;
	vertical-align: baseline;
}

.nav-btn {
		text-align: center;

}

.separator {
	background-color: pink;
	padding: 1px;
}

.separator2 {
	background-color: black;
	padding: 1px;
}

.mainBody {
	display: block;
}

/**************************** Nav bar   ******************************/

#left-nav {
    position: fixed;
    width: 50px;
    height: 100%;
	background: black;
}

#logoCL {
	display: block;
	height: 40px;
	width: 245px;
    background: black url("assets/img/logo-cloudunit.png") no-repeat;
	background-size: 245px 40px;
}

#social-links {
    width: 50px;
    margin-top: 10px;
	text-align: center;
	font-size: 25px;
}

#social-links ul {
    padding: 0;
    margin: 0;
}

#social-links ul li{
	list-style: none;
    display: block;
}

#social-links i {
	color: white;
}

#social-links i:hover {
    color: deeppink;
}

/************************ First Section ****************************/

#mainBody {
 	margin-top: 0;
	margin-bottom: 0;
    text-align: center;
}

header {
	background-image: url("/assets/img/computer-bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 5px;
	background-color: grey;
	height: 800px;
}

#mainOne {
	background-color: #FEFE00;
	border-radius:10px;

	position: absolute;
	left: 15%;
	top: 150px;

	height:  400px;
	width:  35%;
	min-width: 400px;
	max-width: 600px;

	padding:  10px;
	text-align: center;

	border: 1px solid #a6a6a6;
}

.sub_heading {
	margin-top: 5px;
	font-weight: 100;
	text-align: center;
}

#mainOne .box__heading {
	background: url("/assets/img/dotted_black_bg.png") repeat;
	padding: 0;
	text-align: center;
}

#mainOne .box__heading .heading {
	background-color: black;
    color: white;
    display: inline-block;
}

.wpb_wrapper {
	text-align: center;
}

.cta {
    display: block;
    border: 1px solid !important;
    padding: 6px 26px;
    /* -webkit-transition: box-shadow .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out; */
    transition: box-shadow .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    width: 75%;
    margin: 10px auto;
}

.cta .cta--primary {
	margin-top: 55px;
    color: deeppink;
    border-color: deeppink;
    border-radius:5px;
    box-shadow: 4px 4px 0 deeppink;
}

.cta .cta--secondary {
	margin-top: 25px;
    color: black;
    border-color: black;
    border-radius:5px;
    box-shadow: 4px 4px 0 black;
}

.cta__hint {
    display: block;
    margin-top: -8px;
}


/*************************** Second Section ****************************/

#Key_concept{
	height: auto;
	width: 100%;
	/* position: relative; */
	left: 0;
	top: 0;
}

.help-block {
	color: grey;
	width: 100%;
}

.complementary {
	position: relative;
    min-height: 675px;
    background-image: url("/assets/img/technicians-sm.png");
    background-size: 85%;
    background-position: right bottom;
   	background-repeat: no-repeat;
    max-width: 320px;
    margin-left: 250px;
}

.complementaries {
	margin:  50px 800px 50px 150px;
}

.Koncept {
	margin-bottom: 50px;
	margin-top: 100px;
	display: inline-block;
    margin-left: 150px;

}

.Koncept .box__heading {
	background: url("/assets/img/dotted_transp_bg.png") repeat;
	padding: 0;
	text-align: center
}

.Koncept .box__heading .heading{
	background: black;
	color: white;
	display: inline-block;
}


.mainFour .text--primary {
    color: deeppink;
}

/*************************** Third Section ****************************/

#Usage {
	margin-left: 350px;
	position: relative;
	height: auto;
	left: 0;
	top: 0;
}

.usages {
	display: block;
	text-align: left;
}

.mainThree .box__heading {
	background: url("/assets/img/dotted_transp_bg.png");
	padding: 0;
	text-align: center;
}

.mainThree .box__heading .heading{
	background: black;
	color: white;
	display: inline-block;
}

ol {
	display: block;
	text-align: left;
}


ol > li {
	list-style: none;
    list-style-type: none;
    list-style-image: none;
}

/***************************  Fourth Section  ****************************/

#Going_further {
	background-image: url("/assets/img/engineers.png");
    background-size: contain;
    background-position: 25% bottom;
    background-repeat: no-repeat;
	height: auto;
	left: 0;
	top: 0;
	margin-left: 350px;
}

#Going_further a:link {
	color: deeppink;
}

.further{
	/* display: block;
	text-align: left; */
}

.formCloudunit {
	margin-right: 700px;
	margin-left: 5px;
	text-align: center;
	display:  inline-block;
	width:  55%;
	min-width: 250px;
	max-width: 350px;

}

.mainFour .box__heading {
	background: url("/assets/img/dotted_transp_bg.png");
	padding: 0;
	text-align: center;
}

.mainFour .box__heading .heading{
	background: black;
	color: white;
	display: inline-block;
}

.forminput {

  	padding: 1px 26px;
}

.formsubmit {
    background-color: transparent;
    text-decoration: none;
    border: none;
}

/***************************** Social Section ********************************/

#mainFooter {
	margin-left: 350px;
	margin-right: 350px;
	position: relative;
	height: auto;
	left: 0;
	top: 0;
}

#mainFooter .box p {
	text-align: left;
}

.row {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	/* size: 50px; */
	background: white;
}

.row img {
	width: 150px;
	height: 150px;
}

.social_foot_bar {
	text-align: center;
	display: inline-flex;
}

.social_foot_bar ul {
	padding: 0;
	margin: 0;
}

.social_foot_bar li {
	list-style: none;
	margin: 0 30px;
}

.social_foot_bar li a {
	color: black;
	padding:  8px;
	list-style-type: none;
}

.social_foot_bar li a:hover {
	color: deeppink;
}

.partner {
	list-style-type: none;
}

.treeptik {
	list-style-type: none;
}


/****************************** Footer Section ********************************/


.col-md-12 {
	text-align: center;
}
