<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="card large">
  <div class="content clearfix">
    <div class="alias-form">
      <h3 class="title large">Add new alias</h3>

      <form id="add-alias"
            name="addAliasForm"
            class="clearfix" novalidate=""
            data-ng-submit="alias.createAlias(alias.application.name, alias.domain)">
        <div class="input-group stack">
          <label for="domain">Application URL</label>
          <input id="domain"
                 name="domain"
                 type="text"
                 data-ng-model="alias.application.location"
                 readonly>
        </div>
        <div class="input-group stack">
          <label for="new-alias">Domain name</label>
          <input id="new-alias"
                 name="alias"
                 type="text"
                 data-ng-model="alias.domain"
                 ng-required=""
                 placeholder="mydomain.com">
          <span class="suffix-text"></span>

          <p class="hint">Enter your custom domain name</p>

          <p class="hint error" data-ng-show="alias.errorMsg">{{alias.errorMsg}}</p>
        </div>
        <div class="actions">
          <div class="secondary-actions pull-right">
            <button type="submit"
                    class="alias-btn button primary raised"
                    ripple="">
              <span>Add an alias</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="alias-list">
      <h3 class="title large">Registered aliases</h3>
      <p class="no-alias text-muted" data-ng-if="!alias.application.aliases.length">No registered aliases</p>
      <ul data-ng-if="alias.application.aliases.length">
        <li data-ng-repeat="aliase in alias.application.aliases track by $index">
          <a class="body-2"
             data-ng-href="http://{{alias.application.aliases[$index]}}"
             target="_blank">{{alias.application.aliases[$index]}}</a>
          <button class="remove-alias-btn icon-button secondary"
                  ripple=""
                  tooltip=""
                  data-title="Supprimer"
                  data-placement="bottom"
                  data-ng-click="alias.removeAlias(alias.application.name, alias.application.aliases[$index])">
            <span class="icon-whhg circledelete"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
