<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div id="create-application" class="form"
     ng-class="{ngdirty: createApp.createAppForm.$dirty}">
  <div class="content clearfix">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <form id="create-application-form"
          name="createApp.createAppForm"
          novalidate="">
      <div class="input-group stack">
        <label for="name">App Name</label>
        <input id="name"
               name="name"
               type="text"
               data-ng-model="createApp.applicationName"
               data-ng-pattern="/^[a-zA-Z0-9]*$/"
               data-ng-change="createApp.isValid(createApp.applicationName, createApp.serverImageChoice.name)"
               required>

        <p
          data-ng-if="createApp.createAppForm.name.$error.pattern && !createApp.createAppForm.name.$pristine"
          class="hint format error">
          Use alphanumeric character only
        </p>

        <p class="hint error " data-ng-if="!createApp.createAppForm.name.$pristine && createApp.message"
           data-ng-bind="createApp.message"></p>
      </div>
      <div class="input-group stack">
        <div class="dropdown" dropdown="">
          <label for="name">App Server</label>
          <a class="dropdown-toggle"
             dropdown-toggle=""
             data-ng_bind="createApp.serverImageChoice.name">
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li data-ng-repeat="serverImage in createApp.serverImages">
              <a ng-href=""
                 data-ng-click="createApp.serverImageChoice = serverImage; createApp.isValid(createApp.applicationName, createApp.serverImageChoice.name)"
                 data-ng-bind="serverImage.name">
              </a>
            </li>
          </ul>
        </div>
      </div>

      <button id="create-btn"
              type="submit"
              class="button primary pull-right"
              ripple=""
              click-once=""
              data-ng-disabled="createApp.notValidated"
              data-ng-click="createApp.createApplication(createApp.applicationName, createApp.serverImageChoice.name)">
        <span>Create New App</span>
      </button>
    </form>
  </div>
</div>
