<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<section id="applications" freeze="">
  <header>
    <div class="page-header">
      <div class="page-title">
        <h2 class="title">Dashboard</h2>
      </div>
      <div class="alert alert-danger" data-ng-show="main.systemError" id="system-alert">
        <button type="button"
                class="close"
                ng-click="main.systemError = false">
          <span>&times;</span>
        </button>
        <p>{{main.systemError}}</p>
      </div>
    </div>
  </header>
  <div class="page-content" id="dashboard">
    <div class="page full">
      <div class="subheader">
        <h3 class="subhead"
            ng-show="!dashboard.search">
          My Applications
        </h3>

        <h3 class="subhead"
            ng-show="dashboard.search">
          Applications
          <mark>{{ dashboard.search | formatAppStatus| lowercase }}</mark>
        </h3>

        <div id="status-filter" class="subheader-form">
          <div class="input-group inline">
            <span class="label">Filter by status:</span>

            <div class="dropdown" dropdown="">
              <a class="dropdown-toggle"
                 dropdown-toggle=""
                 data-ng-bind="dashboard.selectedItem">
              </a>
              <ul class="dropdown-menu" role="menu" aria-label="dLabel">
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedItem = 'all'; dashboard.search = '' ">
                    All
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedItem = 'Start'; dashboard.search = 'START' ">
                    Start
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedItem = 'Stop'; dashboard.search = 'STOP' ">
                    Stop
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedItem = 'Error'; dashboard.search = 'FAIL' ">
                    Error
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="input-group inline">
            <span class="label">Filter by server:</span>
            <div class="dropdown" dropdown="">
              <a class="dropdown-toggle"
                 dropdown-toggle=""
                 data-ng-bind="dashboard.selectedServerSearch">
              </a>
              <ul class="dropdown-menu" role="menu" aria-label="dLabel">
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedServer = ''; dashboard.selectedServerSearch = 'All' ">
                    All
                  </a>
                </li>
                <li data-ng-repeat="serverImage in dashboard.serverImages">
                  <a ng-href=""
                     data-ng-click="dashboard.selectedServer = serverImage.title; dashboard.selectedServerSearch = serverImage.title ">
                    {{ serverImage.title }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--<div class="input-group inline">
            <span class="label">Display by :</span>
            <div class="dropdown" dropdown="">
              <a class="dropdown-toggle"
                 dropdown-toggle=""
                 data-ng-bind="dashboard.selectedDisplayStyle">
              </a>
              <ul class="dropdown-menu" role="menu" aria-label="dLabel">
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedDisplayStyle = 'Grid';">
                    Grid
                  </a>
                </li>
                <li>
                  <a ng-href=""
                     data-ng-click="dashboard.selectedDisplayStyle = 'List';">
                    List
                  </a>
                </li>
              </ul>
            </div>
          </div>-->
        </div>
        <button class="icon-button  pull-left"
                tooltip=""
                data-title="Grid"
                data-placement="top"
                data-ng-click="dashboard.selectedDisplayStyle = 'Grid';"
                data-ng-class="{selected: dashboard.selectedDisplayStyle == 'Grid'}">
          <i class="icon-whhg grid-th"></i>
        </button>

        <button class="icon-button  pull-left"
                tooltip=""
                data-title="List"
                data-placement="top"
                data-ng-click="dashboard.selectedDisplayStyle = 'List';"
                data-ng-class="{selected: dashboard.selectedDisplayStyle == 'List'}">
          <i class="icon-whhg list-th"></i>
        </button>

      </div>
      <div class="cards">
        <!--create application-->

        <create-app></create-app>

        <!--application list-->

        <div id='application-{{application.name}}'
             class="application {{ application.status | lowercase}}"
             ng-class="{'card': dashboard.selectedDisplayStyle == 'Grid',
              'smaller': dashboard.selectedDisplayStyle == 'Grid',
              'list': dashboard.selectedDisplayStyle == 'List'}"
             data-ng-repeat="application in dashboard.applications | orderBy:application.id | filter:{status: dashboard.search} | appByServerImage: dashboard.selectedServer track by $index">
          <div class="content">
            <h3 class="title">
              {{application.displayName}}
              <a data-ng-href="#editApplication/{{ application.name }}/overview"
                 class="edit-btn button raised primary pull-right"
                 ripple="">
                <span>Manage</span>
              </a>
            </h3>

            <div class="status">
              <p class="subhead">
                {{ application.status | formatAppStatus}}
                <a href="https://treeptik.zendesk.com"
                   target="_blank"
                   data-ng-show="application.status === 'FAIL'"
                   tooltip=""
                   data-title="Contact support"
                   data-placement="bottom">
                  <i class="icon-whhg support"></i>
                </a>
              </p>

              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>

              <div class="wait">
                <div class="icon">
                  <i class="icon-whhg hourglass2"></i>
                </div>
              </div>
            </div>

            <div class="features">
              <p class="subhead">Services</p>

              <p>{{ application.server.image.displayName}}<span class="image icon-tech {{ application.server.image.prefixEnv | lowercase }}"></span></p>

              <p ng-hide="application.modules.length > 0">No modules</p>
              <ul class="modules" ng-show="application.modules.length > 0">
                <li class="module-name"
                    data-ng-repeat="module in application.modules | filter: {image: {imageType: 'module'}}">
                  {{module.image.displayName | lowercase }}
                </li>
              </ul>
            </div>
            <div class="action clearfix">
              <div class="secondary-action">
                <button class="toggle-modal icon-button secondary pull-left allowed danger"
                        data-toggle="modal"
                        data-target="#delete-{{application.name}}"
                        data-keyboard="true"
                        ripple=""
                        tooltip=""
                        data-title="Delete"
                        data-placement="bottom">
                  <i class="icon-whhg trash"></i>
                </button>
                <a class="icon-button secondary"
                   data-ng-hide="application.status==='STOP' || application.deploymentStatus !== 'ALREADY_DEPLOYED'"
                   data-ng-href="{{ application.location }}"
                   target="_blank"
                   ripple=""
                   tooltip=""
                   data-title="Open in browser"
                   data-placement="bottom">
                  <i class="icon-whhg preview"></i>
                </a>
                <a class="snapshot-link icon-button secondary"
                   data-ng-href="#editApplication/{{application.name}}/snapshot"
                   ripple=""
                   tooltip=""
                   data-title="Create template"
                   data-placement="bottom">
                  <i class="icon-whhg copy"></i>
                </a>
                <a class="logs-link icon-button secondary"
                   data-ng-href="#editApplication/{{application.name}}/logs"
                   ripple=""
                   tooltip=""
                   data-title="Logs"
                   data-placement="bottom">
                  <i class="icon-whhg rawaccesslogs"></i>
                </a>
                <button class="server-btn icon-button secondary"
                        data-ng-click="dashboard.toggleServer(application)"
                        ripple=""
                        tooltip=""
                        data-title="{{application.status === 'STOP' ? 'Start' : 'Stop'}}"
                        data-placement="bottom"
                        click-once="">
                  <i class="icon-whhg off"></i>
                </button>
              </div>
            </div>
            <!--application remove confirmation dialog-->

            <div class="modal"
                 id="delete-{{application.name}}"
                 modaldismiss="">
              <div class="modal-inner">
                <div class="content">
                  <h3 class="title">Removal confirmation required for {{application.name}}</h3>

                  <p class="alert">Caution, <strong> this is a permanent action</strong>. Once you
                    delete an app, you cannot get it back. This app will no longer be available.
                  </p>

                  <div class="action">
                    <button type="button" class="button secondary allowed" data-dismiss="modal">Cancel
                    </button>
                    <button type="button" class="delete-btn button primary allowed"
                            data-ng-click="dashboard.deleteApplication(application.name)"
                            data-dismiss="modal">
                      I understand, permanently delete my app
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end ng-repeat-->
      </div>
    </div>

  </div>
</section>
