<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div id="create-application" class="form"
     ng-class="{ngdirty: createApp.createAppForm.$dirty, 'pending': createApp.isPending}">
  <div class="content clearfix">
    <form id="create-application-form"
          name="createApp.createAppForm"
          novalidate="">
      <div class="input-group stack">
        <label for="name">App Name</label>
        <input id="name"
               name="name"
               type="text"

               ng-maxlength="25"
               data-ng-model="createApp.applicationName"
               data-ng-change="createApp.isValid(createApp.applicationName, createApp.serverImageChoice.name)"
               data-ng-disabled="createApp.isPending"
                protectinput=""
               required>

        <!-- Display errors -->
        <!--<p
          data-ng-if="createApp.createAppForm.name.$error.pattern && !createApp.createAppForm.name.$pristine"
          class="hint format error">
          Use alphanumeric character only
        </p>-->

        <p
          data-ng-if="createApp.createAppForm.name.$error.maxlength"
          class="hint format error">
          Application name must have less than 25 chars (only alphanumerics)
        </p>

        <p class="hint error " data-ng-if="!createApp.createAppForm.name.$pristine && createApp.message"
           data-ng-bind="createApp.message"></p>
      </div>

      <div class="input-group stack">
        <label for="name">App Server</label>
        <selectize config="createApp.selectConfig" optgroups="createApp.group" options='createApp.serverImages' ng-model="createApp.serverImageSelect2"></selectize>
      </div>
      <button id="create-btn"
              type="submit"
              class="button primary pull-right"
              ripple=""
              click-once=""
              data-ng-disabled="createApp.notValidated || createApp.createAppForm.name.$error.maxlength || !createApp.serverImageSelect2"
              data-ng-click="createApp.createApplication(createApp.applicationName, createApp.serverImageChoice.name)">
        <span>Create New App</span>
      </button>
    </form>
  </div>
</div>
