<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->
<div class="tab-pane active vertical-spacing">
  <div id="{{overview.app.name}}-server" class="clearfix col-lg-6">
    <div class="card large application overview {{overview.app.status | lowercase}}">
      <div class="content">
        <div class="status">
          <p class="headline">
            <button class="server-btn icon-button secondary power"
                    data-ng-click="overview.toggleServer(overview.app)"
                    ripple=""
                    tooltip=""
                    data-title="{{overview.app.status === 'STOP' ? 'Start' : 'Stop'}}"
                    data-placement="bottom"
                    click-once="">
              <i class="icon-whhg off"></i>
            </button>
            <span>{{overview.app.status | formatAppStatus}}</span>
          </p>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
        <div class="features col-lg-12">
          <div class="readonly">
            <label for="creation-date">Creation date: </label>
            <input class="clipboard"
              id="creation-date"
              type="text"
              value="{{ overview.app.date }}"
              data-title="Copy to clipboard"
              tooltip=""
              ngclipboard data-clipboard-target="#creation-date"
              readonly="">
          </div>
          <div class="readonly">
            <label for="server">Server: </label>
            <input class="clipboard"
              id="server"
              type="text"
              value="{{ overview.app.server.image.displayName}}"
              data-title="Copy to clipboard"
              tooltip=""
              ngclipboard data-clipboard-target="#server"
              readonly="">
          </div>
          <div class="readonly">
            <label for="jvm-memory">JVM memory: </label>
            <input class="clipboard"
              id="jvm-memory"
              type="text"
              value="{{overview.app.server.jvmMemory}} Mo"
              data-title="Copy to clipboard"
              tooltip=""
              ngclipboard data-clipboard-target="#jvm-memory"
              readonly="">
          </div>

          <div class="readonly">
            <label for="jvm-options">JVM options: </label>
            <input class="code clipboard"
                   id="jvm-options"
                   type="text"
                   value="{{overview.app.server.jvmOptions | cleanEscapeSlashAndReverse: true}}"
                   readonly=""
                   data-title="Copy to clipboard"
                   tooltip=""
                   ngclipboard data-clipboard-target="#jvm-options">
          </div>

          <div class="readonly">
            <label for="jvm-release">JVM Release: </label>
            <input class="code clipboard"
                   id="jvm-release"
                   type="text"
                   value="{{overview.app.server.jvmRelease}}"
                   readonly=""
                   data-title="Copy to clipboard"
                   tooltip=""
                   ngclipboard data-clipboard-target="#jvm-release">
          </div>

          <div class="readonly">
            <label>Server admin console: </label>
            <a href="{{overview.app.server.managerLocation}}" target="_blank" id="server-admin-link">
              {{overview.app.server.managerLocation}}
            </a>
          </div>

          <div class="readonly" ng-if="overview.app.env">
            <label>
              <button class="server-btn icon-button secondary power"
                  data-ng-click="colapseOverview = !colapseOverview;"
                  tooltip="">
              <i class="icon-whhg" ng-class="{'minus-sign': !colapseOverview, 'plus-sign': colapseOverview}"></i>
              </button>
              Environment variables ({{ overview.app.env.length }}):
            </label>
            <div class="colapse-reduct" ng-class="{'colapse-on' : colapseOverview}">
              <li class="label-like quiet-list col-xs-12" ng-repeat="env in overview.app.env track by $index">
                <span class="clipboard" id="env-key-{{$index}}" data-title="Copy to clipboard" tooltip="" ngclipboard data-clipboard-target="#env-key-{{$index}}">
                  {{ env.key }}
                </span>
                =
                <span class="code clipboard" id="env-value-{{$index}}" data-title="Copy to clipboard" tooltip="" ngclipboard data-clipboard-target="#env-value-{{$index}}">
                  {{ env.value }}
                </span>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="{{overview.app.name}}-modules" class="modules-list clearfix">
    <div class="card small blank" data-ng-hide="overview.app.modules.length > 0">
      <div class="content clearfix">
        <div class="no-data" ng-if="!snapshot.snapshots.length">
          <h3 class="title">No modules added</h3>

          <p>Add a module from the <a ui-sref="editApplication.addModule({ typeImage: '' })">add module</a>
            panel</p>
        </div>
      </div>
    </div>
    <div id="{{module.name}}" class="service card medium {{module.status | lowercase}}" ng-class="{ pending : overview.pendingModules}"
         data-ng-repeat="module in overview.app.modules | filter: {image: {imageType: 'module'}} track by $index">
        <ng-include src="overview.getTplUrl(module.image.name)"></ng-include>
    </div>
  </div>
</div>
