<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="tab-pane card large vertical-spacing">
  <div class="content clearfix" ng-if="modules.typeImage">
    <span ng-if="modules.errorAdding" class="alert alert-small alert-icon pull-right">{{ modules.errorAdding }}</span>
    <h3 class="title large">
      Add module <i>{{ modules.typeImage }}</i>
    </h3>

    <div class="tile tile-sm module animate-module backcard" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
      <button
        class="tile-content"
        ripple=""
        click-once=""
        data-ng-disabled="image.isTemp"
        ui-sref="editApplication.addModule({ typeImage: '' })">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <span class="icon-whhg pageback image"></span>
        <span class="text"> Select other module</span>
      </button>
    </div>

    <div class="tile tile-sm module animate-module" data-ng-class="{disabled:image.isTemp}" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"
    data-ng-repeat="image in modules.moduleImages | orderBy:id | filter:modules.typeImage:strict" style="animation-delay: {{ $index * 0.3 }}s" ng-if="modules.typeImage">
      <button
        class="tile-content"
        ripple=""
        click-once=""
        data-ng-disabled="image.isTemp"
        data-ng-click="modules.addModule(modules.app.name, image.name)">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <span class="image icon-tech {{ image.name | truncatestringfilter | lowercase }}"></span>
        <span class="text">{{ image.displayName }} </span>
      </button>
    </div>
  </div>

<div class="content clearfix" ng-if="!modules.typeImage">
    <h3 class="title large">Add a module</h3>
    
    <div class="tile tile-sm module animate-module" data-ng-class="{disabled: image == 'mongo' || image == 'redis' || image == 'rabbitmq'}" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-init="modules.checkIconModule(modules.categorieImage)"
    data-ng-repeat="image in modules.categorieImage | orderBy:'toString()' | filter:modules.typeImage:strict" style="animation-delay: {{ $index * 0.3 }}s" >
      <button
        class="tile-content"
        ripple=""
        click-once=""
        data-ng-disabled="image == 'mongo' || image == 'redis'"
        ui-sref="editApplication.addModule({ typeImage: image })" >
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
          <span class="image icon-tech {{ image | truncatestringfilter | lowercase }}"></span>
          <span class="text" style="text-transform: uppercase;">{{ image }} </span>
        </button>
    </div>
  </div>
</div>
