<!--
  ~ LICENCE : CloudUnit is available under the Affero Gnu Public License GPL V3 : https://www.gnu.org/licenses/agpl-3.0.html
  ~     but CloudUnit is licensed too under a standard commercial license.
  ~     Please contact our sales team if you would like to discuss the specifics of our Enterprise license.
  ~     If you are not sure whether the GPL is right for you,
  ~     you can always test our software under the GPL and inspect the source code before you contact us
  ~     about purchasing a commercial license.
  ~
  ~     LEGAL TERMS : "CloudUnit" is a registered trademark of Treeptik and can't be used to endorse
  ~     or promote products derived from this project without prior written permission from Treeptik.
  ~     Products or services derived from this software may not be called "CloudUnit"
  ~     nor may "Treeptik" or similar confusing terms appear in their names without prior written permission.
  ~     For any questions, contact us : contact@treeptik.fr
  -->

<div class="tab-pane vertical-spacing"
     data-ng-class="{pending: monitoringApp.isLoading}">
    <div class="card">
      <div class="content clearfix">
        <h3 class="title large">Monitoring</h3>

        <p class="hint">Choose a component</p>

        <div class="dropdown dropdown--small" dropdown>
          <a class="dropdown-toggle"
             dropdown-toggle=""
             selectbox="">
            {{ monitoringApp.myContainer.name }}
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li data-ng-repeat="container in monitoringApp.containers">
              <a ng-href=""
                 data-ng-click="monitoringApp.myContainer = container; monitoringApp.getContainers(monitoringApp.myContainer)">
                {{container.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <div id="monitoring" class="monitoring-container">
    <!--<iframe data-media="{{monitoringApp.myContainer.name}}" src="scripts/components/editApplication/monitoring/cadvisor.html"
            id="{{monitoringApp.myContainer.id}}" frameBorder="0" reload-chart=""/>-->

    <!--<nvd3 options="monitoringApp.plop" data="monitoringApp.lol" class="with-3d-shadow with-transitions"></nvd3>
    -->
    <div class="monitor-group">
      <div class="card">
        <div class="content clearfix">
          <h3 class="card-title">CPU</h3>

          <div class="chart">
            <h4>Total Usage (Cores)</h4>
           <br>
            <br>
            <br>
          
            <chartist class="ct-chart ct-double-octave" chartist-data="monitoringApp.stats.cpuTotalUsage"
                      chartist-chart-type="Line"></chartist>
                      
                      
                      
                      
                      
                      
            <ul class="ct-legend">
              <li ng-repeat="serie in monitoringApp.stats.cpuTotalUsage.legends" class="ct-series-{{$index}}">{{monitoringApp.stats.cpuTotalUsage.legends[$index]}}</li>
            </ul>

            <h4>Usage per Core</h4>
            <chartist class="ct-chart ct-double-octave" chartist-data="monitoringApp.stats.cpuPerCoreUsage"
                      chartist-chart-type="Line"></chartist>
            <ul class="ct-legend">
              <li ng-repeat="serie in monitoringApp.stats.cpuPerCoreUsage.legends" class="ct-series-{{$index}}">{{monitoringApp.stats.cpuPerCoreUsage.legends[$index]}}</li>
            </ul>

            <h4>Usage Breakdown (Cores)</h4>
            <chartist class="ct-chart ct-double-octave" chartist-data="monitoringApp.stats.cpuUsageBreakdown"
                      chartist-chart-type="Line"></chartist>
            <ul class="ct-legend">
              <li ng-repeat="serie in monitoringApp.stats.cpuUsageBreakdown.legends" class="ct-series-{{$index}}">{{monitoringApp.stats.cpuUsageBreakdown.legends[$index]}}</li>
            </ul>
            <h4>CPU load (%)</h4>
            <chartist class="ct-chart ct-double-octave" chartist-data="monitoringApp.stats.cpuLoad"
                      chartist-chart-type="Line"></chartist>
            <ul class="ct-legend">
              <li ng-repeat="serie in monitoringApp.stats.cpuLoad.legends" class="ct-series-{{$index}}">{{monitoringApp.stats.cpuLoad.legends[$index]}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="monitor-group">
      <div class="card">
        <div class="content clearfix">
          <h3 class="card-title">Memory</h3>

          <div class="chart clearfix">
            <h4>Total Usage (Megabytes)</h4>

            <chartist class="ct-chart ct-double-octave" chartist-data="monitoringApp.stats.memoryUsage"
                      chartist-chart-type="Line"></chartist>
            <ul class="ct-legend">
              <li ng-repeat="serie in monitoringApp.stats.memoryUsage.legends" class="ct-series-{{$index}}">{{monitoringApp.stats.memoryUsage.legends[$index]}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content clearfix">
          <h3 class="card-title">Network</h3>

          <div class="chart">
            <h4>Throughput (Bytes/sec)</h4>
            <chartist class="ct-chart ct-double-octave" chartist-data="monitoringApp.stats.networkUsage"
                      chartist-chart-type="Line"></chartist>
            <ul class="ct-legend">
              <li ng-repeat="serie in monitoringApp.stats.networkUsage.legends" class="ct-series-{{$index}}">{{monitoringApp.stats.networkUsage.legends[$index]}}</li>
            </ul>

            <h4>Errors (Errors/sec)</h4>

            <chartist class="ct-chart ct-double-octave" chartist-data="monitoringApp.stats.networkErrors"
                      chartist-chart-type="Line"></chartist>
            <ul class="ct-legend">
              <li ng-repeat="serie in monitoringApp.stats.networkErrors.legends" class="ct-series-{{$index}}">{{monitoringApp.stats.networkErrors.legends[$index]}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content clearfix">

         <!-- <h3 class="card-title">Isolation</h3>
          <div class="chart">
            <h4>CPU</h4>
            <ul>
              <li><span class="stat-label">Shares: </span> 1024 <span class="unit-label">shares</span>
              </li>
              <li><span class="stat-label">Allowed Cores: </span> <span class="active-cpu">0</span></li>
            </ul>
            <h4>Memory</h4>
            <ul>
              <li><span class="stat-label">Limit: </span> unlimited <span class="unit-label"></span>
              </li>
              <li><span class="stat-label">Swap Limit: </span> unlimited <span
                class="unit-label"></span>
              </li>
            </ul>
          </div>-->
          <!--<nvd3 options="monitoringApp.options" data="monitoringApp.data"></nvd3>
          <nvd3 options="monitoringApp.options2" data="monitoringApp.data2"></nvd3>-->
      
      <!--
      <div
area-chart
area-data='[
    { y: "09:06:49", a: 100, b: 90 },
    { y: "09:06:50", a: 75,  b: 65 },
    { y: "09:06:51", a: 50,  b: 40 },
    { y: "09:06:52", a: 75,  b: 65 },
    { y: "09:06:53", a: 50,  b: 40 },
    { y: "09:06:54", a: 75,  b: 65 },
    { y: "09:06:55", a: 100, b: 90 }
  ]'
area-xkey='y'
area-ykeys='["a", "b"]'
area-labels='["Serie A", "Serie B"]'
line-colors='["#31C0BE", "#c7254e"]'>
</div>-->
      
            <nvd3 xAxisTickFormat="xAxisTickFormatToggle()" options="monitoringApp.options" data="monitoringApp.data" class="with-3d-shadow with-transitions"></nvd3>
   

        </div>
      </div>
    </div>
  </div>
</div>





